
  <div>

  <div class="left_button">
     <a href="club_learning.php">學術性社團</a>
  </div>
  <div class="left_button">
     <a href="club_play.php">康樂性社團</a>
  </div>
  <div class="left_button">
     <a href="club_service.php">服務性社團</a>
  </div>
  <div class="left_button">
     <a href="club_social.php">聯誼性社團</a>
  </div>
  <div class="left_button">
     <a href="club_student&else.php">學生組織暨其他</a>
  </div>
    <div class="left_button">
     <a href="studentDepart.php">系學會</a>
  </div>
  
  </div>