<a href = "view.php?aid=1"><img src="templates/zh_tw/images/food.png" alt="食在中大" /></a>
<a href = "view.php?aid=5"><img src="templates/zh_tw/images/living.png" alt="住宿資訊" /></a>
<a href = "view.php?aid=11"><img src="templates/zh_tw/images/traffic.png" alt="交通相關" /></a>
<a href = "view.php?aid=19"><img src="templates/zh_tw/images/life.png" alt="便利生活" /></a>
<a href = "view.php?aid=27"><img src="templates/zh_tw/images/health.png" alt="衛生保健" /></a>
<a href = "view.php?aid=31"><img src="templates/zh_tw/images/sport.png" alt="運動場所" /></a>
