<div class="mapout1">
	<div class="mapout2">
		<div class="mapfirst1">
   		 	<a href=""><img src="templates/zh_tw/images/map_title01.png" alt="大一必讀" /></a>
   		</div>
   	 	<div class="mapsecond">
    		<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/must_read/must.php?num=1">1-1.大一新生區</a></div>
        	<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/must_read/must.php?num=2">1-2.大一復學區</a></div>
        	<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/must_read/must.php?num=3">1-3.相關須知</a></div>
            <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/must_read/must.php?num=4">1-4.文件下載</a></div>
    	</div>
	</div>
    <br class="clear" />
</div>
<div class="mapout">
	<div class="mapfirst">
    	<a href=""><img src="templates/zh_tw/images/map_title02.png" alt="中大生活" /></a>
    </div>
    <div class="mapsecond">
    	<div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=1">2-1.食在中大</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=1">2-1-1.後門</a></div>
           		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=2">2-1-2.宵夜街</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=3">2-1-3.露天咖啡</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=4">2-1-4.校內餐廳</a></div>
                <br class="clear" />
            </div>
        </div>
        <div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=5">2-2.住宿資訊</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=5">2-2-1.新生宿舍（男）</a></div>
           		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=6">2-2-2.新生宿舍（女）</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=7">2-2-3.宿網申請</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=8">2-2-4.冷氣使用</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=9">2-2-5.住宿所需</a></div>
                <div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=10">2-2-6.宿舍規則</a></div>
                <br class="clear" />
            </div>
        </div>
        <div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=11">2-3.交通相關</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=11">2-3-1.腳踏車</a></div>
           		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=12">2-3-2.公車</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=13">2-3-3.火車</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=14">2-3-4.客運</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=15">2-3-5.高鐵</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=16">2-3-6.台聯大專車</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=17">2-3-7.汽機車</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=18">2-3-8.自行開車</a></div>
                <br class="clear" />
            </div>
        </div>
        <div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=19">2-4.便利生活</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=19">2-4-1.校內店家</a></div>
           		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=20">2-4-2.萊爾富</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=21">2-4-3.小超市</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=22">2-4-4.體育用品店</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=23">2-4-5.校內郵務</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=24">2-4-6.第一銀行</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=25">2-4-7.校外量販店</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=26">2-4-8.107電影院</a></div>
            </div>
        </div>
       	<div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=27">2-5.身心保健</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=27">2-5-1.校內衛保組</a></div>
           		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=28">2-5-2.校外特約醫院</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=29">2-5-3.心理諮商</a></div>
            </div>
        </div>
        <div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=31">2-6.運動場所</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=31">2-6-1.球類場地</a></div>
           		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=32">2-6-2.游泳池</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=33">2-6-3.依仁堂</a></div>
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=34">2-6-4.操場</a></div>
                <div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=35">2-6-5.溜冰場</a></div>
                <div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/life/view.php?aid=36">2-6-6.大草坪</a></div>
            </div>
        </div>
    </div>
    <br class="clear" />
</div>

<div class="mapout">
	<div class="mapfirst">
    	<a href=""><img src="templates/zh_tw/images/map_title03.png" alt="校園導覽" /></a>
    </div>
    <div class="mapthird">
   		<div class="titlebar3">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/entertheme_department.php">3-1.各系系館</a></div>
 		    <br class="clear"  />
        </div>
        <div class="titlebar2">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/entertheme_view.php">3-2.景點介紹</a></div>
            <div class="titletwo">
            	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=3&samname=m0">3-2-1.中大路上</a></div>
      			<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=4&samname=j0">3-2-2.百花川語</a></div>
      			<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=35&samname=k0">3-2-3.筆墨紙硯</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=8&samname=b0">3-2-4.情人步道</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=6&samname=d0">3-2-5.太極銅雕</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=37&samname=i0">3-2-6.中大湖畔</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=20&samname=g0">3-2-7.松濤書閣</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=7&samname=h0">3-2-8.烏龜池</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=36&samname=c0">3-2-9.綠草如茵</a></div>
        		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=9&samname=a0">3-2-10.女十四舍前廣場</a></div>
                <div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/view_nojs_loadcontent.php?key=5&samname=c0">3-2-11.國泰樹</a></div>
            </div>
            <br class="clear" />
        </div>
        <div class="titlebar3">
            <div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/entertheme_building.php">3-3.建築物介紹</a></div>
        	<div class="titletwo">
            	<div class="title2"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=2&samname=p03">3-3-1.大講堂</a></div>
            	<div class="title2"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=19&samname=p08">3-3-2.綜教館</a></div>
            	<div class="title2"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=34&samname=pq01">3-3-3.游藝館＆據德樓</a></div>
            	<div class="title2">
            		<div class="title2_son1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=10&samname=p04&table=11">3-3-4.行政大樓</a></div>
            		<div class="title2_son2">
               		<div class="title"> <a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=12&samname=p04&table=11">3-3-4-1.文書組</a></div>
            		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=14&samname=p04&table=11">3-3-4-2.出納組</a></div>
            		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=13&samname=p04&table=11">3-3-4-3.註冊組</a></div>
                	<br class="clear" />
                </div>
            </div>
            <div class="title2">
            	<div class="title2_son1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=15&samname=p06&table=16">3-3-5.中正圖書館</a></div>
            	<div class="title2_son2">
                	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=18&samname=p06&table=16">3-3-5-1.諮商中心</a></div>
            		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=17&samname=p06&table=16">3-3-5-2.學務處</a></div>
            		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=41&samname=p06&table=16">3-3-5-3.自學中心</a></div>
                	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=38&samname=p06&table=16">3-3-5-4.藝文中心</a></div>
                    <div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=15&samname=p06&table=16">3-3-5-5.中正圖書館</a></div>
                <br class="clear" />
                </div>
            </div>
            <div class="title2"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=1&samname=p07">3-3-6.國鼎圖書資料館</a></div>
            <div class="title2">
            <div class="title2_son1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=33&samname=p05&table=42">3-3-7.總圖書館</a></div>
            <div class="title2_son2">
                	<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=33&samname=p05&table=42">3-3-7-1.總圖書館</a></div>
            		<div class="title"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/building_nojs_loadcontent.php?key=43&samname=p05&table=42">3-3-7-2.閱讀坊</a></div>
                <br class="clear" />
                </div>
            </div>
<!--            <div class="title2">
            <div class="title2_son1"><a href="<{$currcfg.URL_ROOT_PATH}>">3-3-8.志希館</a></div>
            <div class="title2_son2"><a href="<{$currcfg.URL_ROOT_PATH}>">3-3-8-1.計算機中心</a></div>
            <br class="clear" />
            </div> -->
            <div class="title2"><a href="<{$currcfg.URL_ROOT_PATH}>">3-3-8.志希館</a></div>
            <br class="clear" />
            </div>
            <br class="clear" />
    	</div>
        <div class="titlebar3">
    		<div class="titleone"><a href="<{$currcfg.URL_ROOT_PATH}>/module/map/entertheme_together.php">3-4.綜觀圖</a></div>
 		    <br class="clear"  />
        </div>
    </div>
    <br class="clear"  />
</div>
<div class="mapout">
	<div class="mapfirst">
   		 <a href="<{$currcfg.URL_ROOT_PATH}>/module/register_wizard/"><img src="templates/zh_tw/images/map_title04.png" alt="註冊精靈" /></a>
    <br class="clear" />
	</div>
</div>
<div class="mapout">
	<div class="mapfirst">
   		 <a href="<{$currcfg.URL_ROOT_PATH}>/module/forum/"><img src="templates/zh_tw/images/map_title05.png" alt="論壇專區" /></a>
    <br class="clear" />
    </div>
    <div class="mapthird">
    		<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/forum/forum_list.php?cid=1&page=1">5-1.新生問題區</a></div>
        	<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/forum/forum_list.php?cid=2&page=1">5-2.社團討論區</a></div>
        	<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/forum/dep_list.php">5-3.系所討論區</a></div>
            <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/forum/forum_list.php?cid=4&page=1">5-4.精華討論區</a></div>
            <br class="clear" />
    	</div>
</div>
<div class="mapout">
	<div class="mapfirst">
   		 <a href="<{$currcfg.URL_ROOT_PATH}>/module/club/"><img src="templates/zh_tw/images/map_title06.png" alt="社團介紹" /></a>
   	</div>
   	 <div class="mapsecond">
    	<div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/club/club_learning.php">6-1康樂性社團</a></div>
        <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/club/club_social.php">6-2聯誼性社團</a></div>
        <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/club/club_learning.php">6-3學術性社團</a></div>
        <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/club/club_service.php">6-4服務性社團</a></div>
        <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/club/club_student&else.php">6-5學生組織與其他</a></div>
        <div class="title1"><a href="<{$currcfg.URL_ROOT_PATH}>/module/club/studentDepart.php">6-6系學會</a></div>
    </div>
    <br class="clear" />
</div>
<div class="mapout">
	<div class="mapfirst">
   		 <a href="<{$currcfg.URL_ROOT_PATH}>/module/film/"><img src="templates/zh_tw/images/map_title07.png" alt="影音專區" /></a>
    <br class="clear" />
    </div>
</div>
<div class="mapout">
	<div class="mapfirst">
   		 <a href="<{$currcfg.URL_ROOT_PATH}>/aboutus/"><img src="templates/zh_tw/images/map_title08.png" alt="關於我們" /></a>
    <br class="clear" />
    </div>
</div>

<div class="image"><img src="templates/zh_tw/images/map_background03_.png" /></div>
