<div id="home_block_main">
  <div><img src="templates/zh_tw/images/off.png" alt="close" /></div>
  <div class="home_block"><{$anno_block}></div>
  <div class="home_block"><{$forum_block}></div>
  <div class="home_block" style="background-image:url('templates/zh_tw/images/contact.png');background-repeat:no-repeat">
	<div id="link_left_down">
		<table>
			<tr>
				<td width="136" height="38"><a href="http://portal.ncu.edu.tw" target="blank">Portal入口</a></td><td><a href="http://www.ncu.edu.tw" target="blank">中大首頁</a></td>
			</tr>
			<tr>
				<td height="38"><a href="http://puma.cc.ncu.edu.tw:8080/Course/" target="blank">選課系統</a></td><td><a href="http://www.cc.ncu.edu.tw" target="blnak">電算中心</a></td>
			</tr>
            <tr>
                <td height="38"><a href="http://passport.ncu.edu.tw" target="blank">服務學習</a></td><td><a href="http://140.115.184.35/calendar/calendar99.pdf" target="blank">99學年度校曆</a></td>
            </tr>
            <tr>
                <td height="38"><a href="http://learn.lib.ncu.edu.tw:8080/~refitoy/e-learning/" target="_blank">圖書館資源學習網</a></td>
            </tr>
		</table>
	</div>
  </div>
  <div class="home_block">
   <div id="link_right">
    <div class="link_right_image"><a href="<{$currcfg.URL_ROOT_PATH}>/module/questionnaire"><img src="templates/zh_tw/images/quest.jpg" /></a></div>
    <br class="clear" />
	<div class="link_right_image"><a href="http://radio.pinewave.tw" target="_blank"><img src="templates/zh_tw/images/pinewave.jpg" /></a></div>
	<!--<div class="link_right_image"><img src="templates/zh_tw/images/superfresh.jpg" /></div>-->
	<div class="link_right_image"><a href="http://ncugrad.pixnet.net/blog" target="_blank"><img src="templates/zh_tw/images/Postgraduate.jpg" /></a></div>
	<!--<div class="link_right_image"><img src="templates/zh_tw/images/club.jpg" /></div>
	<div class="link_right_image"><img src="templates/zh_tw/images/course.jpg" /></div>-->
	<div class="link_right_image"><a href="http://www.uac.edu.tw/" target="_blank"><img src="templates/zh_tw/images/exam.jpg" /></a></div>
    <div class="link_right_image"><a href="http://www4.is.ncu.edu.tw/register/check/stdno_check.php" target="_blank"><img src="templates/zh_tw/images/studentid.jpg" /></a></div>
    <div class="link_right_image"><a href="http://www.wretch.cc/blog/ncufresh2010" target="_blank"><img src="templates/zh_tw/images/fresh.jpg" /></a></div>
    <div class="link_right_image"><a href="http://ncufresh.ncu.edu.tw/ncufresh10/module/must_read/container.php?Key=202&num=3" target="_blank"><img src="templates/zh_tw/images/campus.jpg" /></a></div>
    <div class="link_right_image"><a href="http://ncufresh.ncu.edu.tw/ncufresh10/module/must_read/file/20100908134157.pdf" target="_blank"><img src="templates/zh_tw/images/course2.jpg" /></a></div>
   </div>
  </div>
  <br class="clear" />
</div>
