<div class="quesbody">
	<div class="form_text">
	<div class="description"><{$description}></div>
	<div class="title"><{$title}></div>
	</div>

<form method="post" id="questionnaire"  action="saveCorrectAnswer.php">

<input type="hidden" name="qid" value="<{$smarty.get.qid}>">


<{section name=i loop=$questions }>
<div class="questions">
	<input type="hidden" name="tid[]" value="<{$questions[i].tid}>"/>
<div class="q_text">
	<span class="q_num"><{$smarty.section.i.iteration}>.</span>
	<span class="q_title"><{$questions[i].t_title}></span>
	<span class="q_desc"><{$questions[i].t_description}></span>	
</div>
	<{if $questions[i].t_type =="0" }>
		<div class="q_response res_text">	
			<input type="hidden" name="type[]" value="0" />
			<label>此題不需要建立答案</label><br/>
		</div>
	<{elseif $questions[i].t_type =="1" }>
		<div class="q_response res_area">	
			<input type="hidden" name="type[]" value="1" />
			<label>此題不需要建立答案</label><br/>
		</div>
	<{elseif $questions[i].t_type =="2" }>
		<div class="q_response res_radio">	
			<input type="hidden" name="type[]" value="2" />
			<ul>
			<{section name=j loop=$questions[i].options }>
				<li><input type="radio" name="q<{$smarty.section.i.iteration}>" value="<{$questions[i].oids[j]}>" class="required"/><{$questions[i].options[j]}></li>
			<{/section}>
			<{if $questions[i].o_other=="1"}>
				<li><input type="radio" name="q<{$smarty.section.i.iteration}>" value="0" class="required"/>其他：<input type="text" name="q<{$smarty.section.i.iteration}>_other"/></li>
			<{/if}>
			</ul>
		</div>	
	
	<{elseif $questions[i].t_type =="3" }>
		<div class="q_response res_check">	
			<input type="hidden" name="type[]" value="3" />
		
			<ul>
			<{section name=j loop=$questions[i].options }>
				<li><input type="checkbox" name="q<{$smarty.section.i.iteration}>[]" value="<{$questions[i].oids[j]}>" class="required"/><{$questions[i].options[j]}></li>
			<{/section}>
			<{if $questions[i].o_other=="1"}>
				<li><input type="checkbox" name="q<{$smarty.section.i.iteration}>[]" value="0" class="required"/>其他：<input type="text" name="q<{$smarty.section.i.iteration}>_other"/></li>
			<{/if}>
			</ul>
		</div>	
	<{elseif $questions[i].t_type =="4" }>
		<div class="q_response res_list">	
			<input type="hidden" name="type[]" value="4" />
		
			<select name="q<{$smarty.section.i.iteration}>" class="required">
			<{section name=j loop=$questions[i].options }>
				<option value="<{$questions[i].oids[j]}>" ><{$questions[i].options[j]}></option>
			<{/section}>
			</select>
		</div>
	<{/if}>
</div>
<{/section}>

<input type="submit" value="送出" />
</form>
</div>
