<div id="aboutus_main">

<div id="purpose_1"></div>
<div id="purpose_2">
         　 　剛成為大一新鮮人的你們，是不是對大學生活充滿了憧憬，
			卻又有些害怕和擔心？剛成為中大學子的你們，
			對即將開啟的中大生活，是不是充滿了期待又怕受傷害？
			「大一生活知訊網」就是為了幫助每一個中大新生而存在的。
			我們了解你們迷惘的心情，因為我們也曾經歷過，
			為了幫助你們認識中大，在２００３年，
			「大一生活知訊網」被中大首創。
			<br /><br />
　　		剛進校園時，我們也曾徬徨無助，所幸有「大一生活知訊網」，
			讓我們知道怎麼在中大生活，食衣住行育樂一應俱全；
			讓我們知道中央大學的校園有什麼資源，
			而且能對中大的週遭環境能有一定程度的認識；
			讓我們了解每一個註冊相關事項，不會因此錯過重要的註冊時程，
			「大一生活知訊網」的存在，就是為了向大一新生伸出援手，
			給大家一盞光明之燈，不會在成為中大人的路途上有所迷惘。
			<br /><br />
　　		我們的存在，就是因為理解新生的需求而被設置，
			也是為了讓你們感受到中大人的熱情和親切。
			除了認識中大之外，透過論壇區，
			每一個新生都可以和自己系上的同學或學長姐做互動；
			對社團有所疑慮，也可以即時性發問；
			有任何相關問題，我們都有專人隨時解答。
			「大一生活知訊網」的功能是活的，是人性化的，
			能讓每個新生獲得即時性的相關訊息，也能和他人有更多的互動。
　　		<br /><br />
			　　期許大家都能善用「大一生活知訊網」，因為這裡面包含我們的用心，也是為了幫助每一個中大新鮮人能夠更快認識中大，
			希望你能好好享用我們努力的成果，也能愛上我們美麗的中央大學！
			<br /><br />
</div>
                
<div id="team_1"></div>
<div id="team_2">

    <div id="photo">
	<img src="templates/zh_tw/images/aboutus_photo.jpg" width="640" height="480" />
	</div>
    <br class="clear" />
    <table border="0"> 
		<tbody>
			<tr> 
				<td colspan="6"><h4>執行組</h4></td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">執行長</td>
				<td id="aboutus_content">資工3B</td> 
				<td id="aboutus_content">謝佩庭</td>
				<td id="aboutus_title">副執行長</td> 
				<td id="aboutus_content">資工3B</td> 
				<td id="aboutus_content">洪振耀</td> 
			</tr> 
			<tr> 
				<td colspan="6"><h4>程式組</h4></td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">組長</td> 
				<td id="aboutus_content">資工3A</td> 
				<td id="aboutus_content">游惇雅</td>
				<td id="aboutus_title">副組長</td>
				<td id="aboutus_content">資工3A</td> 
				<td id="aboutus_content">劉品均</td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">組員</td> 
				<td id="aboutus_content">資工3B</td> 
				<td id="aboutus_content">黃士軒</td>
				<td id="aboutus_title">組員</td>
				<td id="aboutus_content">資工2A</td> 
				<td id="aboutus_content">許貴松</td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">組員</td>
				<td id="aboutus_content">資工2A</td> 
				<td id="aboutus_content">陳健新</td>
				<td id="aboutus_title">組員</td> 
				<td id="aboutus_content">資工2A</td> 
				<td id="aboutus_content">陳忠晟</td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">組員</td> 
				<td id="aboutus_content">資工2A</td> 
				<td id="aboutus_content">張菀倫</td> 
				<td id="aboutus_title">&nbsp;</td> 
				<td id="aboutus_content">&nbsp;</td> 
				<td id="aboutus_content">&nbsp;</td> 
			</tr> 
			<tr> 
				<td colspan="6"><h4>美工組</h4></td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">組長</td> 
				<td id="aboutus_content">資工3A</td> 
				<td id="aboutus_content">林玉純</td>
				<td id="aboutus_title">副組長</td>
				<td id="aboutus_content">資工3A</td>
				<td id="aboutus_content">李孟純</td> 
			</tr> 
			<tr> 
				<td id="aboutus_title">組員</td> 
				<td id="aboutus_content">資工2A</td> 
				<td id="aboutus_content">蔡立雯</td> 
				<td id="aboutus_title">組員</td> 
				<td id="aboutus_content">資工2A</td> 
				<td id="aboutus_content">林佩穎</td> 
			</tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2A</td> 
                <td id="aboutus_content">周信彰</td> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">劉孟蓁</td> 
            </tr> 
<!-- 		<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content"></td> 
                <td id="aboutus_content"></td>
                <td id="aboutus_title"> </td>
                <td id="aboutus_content"> </td>
                <td id="aboutus_content"> </td> 
			</tr>  -->
            <tr> 
                <td colspan="6"><h4>影音組</h4></td> 
			</tr> 
			<tr> 
                <td id="aboutus_title">組長</td> 
                <td id="aboutus_content">資工3A</td> 
                <td id="aboutus_content">崔孝戎</td> 
                <td id="aboutus_title">副組長 </td> 
                <td id="aboutus_content">資工3A </td> 
                <td id="aboutus_content">廖維楷 </td> 
			</tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2A</td> 
                <td id="aboutus_content">朱燕雲</td>
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">陸添陽</td> 
			</tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">林軍揚</td> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">陳柏瑄</td> 
            </tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">楊雅燕</td>
                <td id="aboutus_title">&nbsp;</td> 
                <td id="aboutus_content">&nbsp;</td> 
                <td id="aboutus_content">&nbsp;</td>
                <td id="aboutus_title">&nbsp;</td> 
			</tr> 
            <tr> 
                <td colspan="6"><h4>企劃組</h4></td> 
			</tr>  
			<tr> 
                <td id="aboutus_title">組長</td> 
                <td id="aboutus_content">資工3B</td> 
                <td id="aboutus_content">李宜靜</td> 
                <td id="aboutus_title">副組長</td> 
                <td id="aboutus_content">資工3A </td> 
                <td id="aboutus_content">謝怡君</td> 
            </tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">光電3</td> 
                <td id="aboutus_content">王碩宏</td>
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2A</td> 
                <td id="aboutus_content">楊佳蓉</td>
			</tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">盧美榮</td> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">黃一剛</td> 
            </tr> 
			<tr> 
                <td id="aboutus_title">組員</td> 
                <td id="aboutus_content">資工2B</td> 
                <td id="aboutus_content">林佑柔</td> 
                <td id="aboutus_title">&nbsp;</td> 
                <td id="aboutus_content">&nbsp;</td> 
                <td id="aboutus_content">&nbsp;</td>  
            </tr> 
        </tbody> 
    </table> 
</div>
                
<div id="joinus_1"></div>
<div id="joinus_2">
    　　非常感謝每一個大一新生使用「２０１０大一生活知訊網」，
	    在十月，我們將完成我們團隊的使命，
	    那就是帶領每一個大一新生能夠認識中大。
		在十月之後，我們會將知訊網團隊，傳承給下一代的你們，
		讓知訊網能夠薪火相傳。
		<br /><br />
　　    從放榜後，知訊網陪伴每一個身為新生的你一起走過，
		讓中大對每一個新生來說，都是那麼的熟悉，
		如果你有感受到「大一生活知訊網」的用心，
		願意為下一屆的學弟妹盡一分心力；
		如果你對「大一生活知訊網」有很多的想法而且懷抱熱情，
		「２０１１大一生活知訊網工作團隊」要的人才就是你，
		因為有你們的加入，才能幫助更多的中大新鮮人。
		「２０１１大一生活知訊網工作團隊」歡迎你的加入！ 
　　	<br /><br />
　　	只要你對我們團隊有好奇，有自己的理想，
		敬請期待我們的相關訊息。相關訊息將會在開學後，
		在校內各處張貼海報，或是於ＢＢＳ上發佈招生Ｂ宣，
		想要知道更完善的招募資訊，請於開學後密切注意我們的相關訊息，
		「２０１１大一生活知訊網工作團隊」需要你。
		<br /><br />
</div>
                
</div>
