<div id="bread">
	<div id="bread_image"><img src="templates/zh_tw/images/bread.png" /></div>
	<div id="bread_text">
		<a href="index.php" style="color:#999999">論壇專區</a>
		><a href="dep_list.php">系所列表</a>
	</div>
	<br class="clear"/>
</div>
<div>

<div id="lang_dep">
<a href="forum_list.php?cid=11&page=1">中國文學系</a><br />
<a href="forum_list.php?cid=12&page=1">英美語文學系</a><br />
<a href="forum_list.php?cid=13&page=1">法國語文學系</a>
</div>

<div id="scie_dep">
<a href="forum_list.php?cid=14&page=1">物理學系</a><br />
<a href="forum_list.php?cid=15&page=1">數學系</a><br />
<a href="forum_list.php?cid=16&page=1">化學系</a><br />
<a href="forum_list.php?cid=17&page=1">生命科學系</a><br />
<a href="forum_list.php?cid=18&page=1">光電科學與工程學系</a><br />
<a href="forum_list.php?cid=19&page=1">理學院學士班</a>
</div>

<div id="engi_dep">
<a href="forum_list.php?cid=20&page=1">化學工程與材料工程學系</a><br />
<a href="forum_list.php?cid=21&page=1">土木工程學系</a><br />
<a href="forum_list.php?cid=22&page=1">機械工程學系</a>
</div>

<br class="clear" />

<div id="manage_dep">
<a href="forum_list.php?cid=23&page=1">企業管理學系</a><br />
<a href="forum_list.php?cid=24&page=1">資訊管理學系</a><br />
<a href="forum_list.php?cid=25&page=1">財務金融學系</a><br />
<a href="forum_list.php?cid=26&page=1">經濟學系</a>
</div>

<div id="infor_dep">
<a href="forum_list.php?cid=27&page=1">資訊工程學系</a><br />
<a href="forum_list.php?cid=28&page=1">電機工程學系</a><br />
<a href="forum_list.php?cid=29&page=1">通訊工程學系</a>
</div>

<div id="earth_dep">
<a href="forum_list.php?cid=30&page=1">地球科學系</a><br />
<a href="forum_list.php?cid=31&page=1">大氣科學系</a>
</div>

</div>