<div id ="top">
	<div id="tree">
		<a href="dorm.php"><img src="templates/zh_tw/images/detail_living_tag01.png" alt="男生宿舍" /><a>
        <a href="dorm1.php"><img src="templates/zh_tw/images/detail_living_tag02.png" alt="女生宿舍" /><a>
        <a href="dorm2.php"><img src="templates/zh_tw/images/detail_living_tag03.png" alt="宿網申請" /><a>
        <a href="dorm3.php"><img src="templates/zh_tw/images/detail_living_tag04.png" alt="冷氣使用" /><a>
        <a href="dorm4.php"><img src="templates/zh_tw/images/detail_living_tag05.png" alt="住宿所需" /><a>
        <a href="dorm5.php"><img src="templates/zh_tw/images/detail_living_tag06.png" alt="宿舍規則" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_living_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="dorm.php">[住宿資訊]</a> >>
	<a href="dorm3.php">[冷氣使用]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_living_title04.png" />
    </div>
    <p>宿舍冷氣必須先購買冷氣卡才可以使用，這是和一般家中冷氣最不一樣的地方。各寢室在牆上皆設有讀卡機，將冷氣卡插入後即可開始使用，遙控器就放置在讀卡機旁。冷氣卡可於校內便利商店（男九舍Ａ棟地下室及女一～四舍門口的萊爾富）購買，一張冷氣卡有500元的額度可以使用，另外要支付50元的押金；冷氣卡額度用完之後可至校內便利商店重新購買，押金則在退還卡片之後會歸還。（冷氣讀卡機照）、（冷氣卡照）</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>