<div id ="top">
	<div id="tree">
		<a href="dorm.php"><img src="templates/zh_tw/images/detail_living_tag01.png" alt="男生宿舍" /><a>
        <a href="dorm1.php"><img src="templates/zh_tw/images/detail_living_tag02.png" alt="女生宿舍" /><a>
        <a href="dorm2.php"><img src="templates/zh_tw/images/detail_living_tag03.png" alt="宿網申請" /><a>
        <a href="dorm3.php"><img src="templates/zh_tw/images/detail_living_tag04.png" alt="冷氣使用" /><a>
        <a href="dorm4.php"><img src="templates/zh_tw/images/detail_living_tag05.png" alt="住宿所需" /><a>
        <a href="dorm5.php"><img src="templates/zh_tw/images/detail_living_tag06.png" alt="宿舍規則" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_living_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="dorm.php">[住宿資訊]</a> >>
	<a href="dorm5.php">[宿舍規則]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_living_title06.png" />
    </div>
    <h3>學生宿舍管理辦法重要法規提醒</h3>
    <p>學生住宿於本校學生宿舍，應遵守「學生宿舍管理辦法」，以下列出幾點重要法規，請各位新生務必遵守。詳細之「學生宿舍管理辦法」，請詳閱學務處網站法規。</p>
    <ol style="padding-left:75px;">
    <li>宿舍一經分配，除依規定申請異動者外，住宿期間床位不再變動。</li>
    <br />
     <li>學生於失去學生身分日起算，須於一週內完成遷離宿舍；未搬遷之物品以廢棄物處理。</li>
     <br />
     <li>大一新生學期結束，須淨空宿舍(所有物品攜行回家)，以做為寒暑假學生社團、專案活動、教育訓練班隊之使用。未依規定期限搬遷之物品視同廢棄物處理。</li>
     <br />
     <li>為維護宿舍公物與資源，凡退宿、調整寢室或學期結束均應打掃清潔，交還公物，如有違反，學校得依據「學生宿舍押金收扣退管理辦法」處理。</li>
     <br />
     <li>為促進住宿學生健康生活落實環保節能政策，提供寧靜環境，寢室凌晨十二點至六點熄大燈。</li>
     <br />
     <li>押金於畢業、離校或不續住宿舍時，無息退還，凡未依規定辦妥退宿手續而離宿者，依「宿舍押金扣退管理辦法」沒收之。</li>
     <br />
     <li>不得在宿舍炊爨，焚燒物品、烤肉、燃放煙火、私接電力線路及存放任何危險品及違禁物品。</li>
     <br />
     <li>寢室不得有獨佔、私自轉讓、擅自佔用及拒絕室友進住之行為。寢室床位編定後，不得私自互調；住宿異動，須經生輔組核准。</li>
     <br />
     <li>異性、外賓及非本棟宿舍住宿學生，夜間十二時至上午七時，不得逗留於宿舍內。其餘時段，異性、外賓會客一律於宿舍指定之公告場所實施。如有特殊狀況須經生輔組(上班時間)或軍訓室(下班及假日時間)同意始准進入寢室。</li>
     <br />
	 <li>不得有酗酒、賭博、毆鬥、吸菸、嚼食檳榔、打麻將、使用違禁藥品等行為，或妨害宿舍安全之任何情事。</li>
     <br />
     <li>宿舍內除檯燈、吹風機、電風扇、收錄音機、電鬍刀、電腦及學校提供或核可之電器外，其餘電器用品均禁止使用。</li>
     <br />
     <li>宿舍保持肅靜，不得妨害他人自修與睡眠；不得邀約外人在宿舍集會或進行商業行為。</li>
     <br />
     <li>不得在宿舍內停放機車、腳踏車或飼養動物。</li>
     <br />
     <li>住宿生應整理內務，保持整潔。</li>
     <br />
     <li>不得擅自變更宿舍原有設施，公物如有損壞或遺失，應照價賠償。</li>
     <br />
     </ol>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>