<div id ="top">
	<div id="tree">
		<a href="dorm.php"><img src="templates/zh_tw/images/detail_living_tag01.png" alt="男生宿舍" /><a>
        <a href="dorm1.php"><img src="templates/zh_tw/images/detail_living_tag02.png" alt="女生宿舍" /><a>
        <a href="dorm2.php"><img src="templates/zh_tw/images/detail_living_tag03.png" alt="宿網申請" /><a>
        <a href="dorm3.php"><img src="templates/zh_tw/images/detail_living_tag04.png" alt="冷氣使用" /><a>
        <a href="dorm4.php"><img src="templates/zh_tw/images/detail_living_tag05.png" alt="住宿所需" /><a>
        <a href="dorm5.php"><img src="templates/zh_tw/images/detail_living_tag06.png" alt="宿舍規則" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_living_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="dorm.php">[住宿資訊]</a> >>
	<a href="dorm2.php">[宿網申請]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_living_title03.png" />
    </div>
    <p>進入宿舍後並不能夠馬上使用宿舍網路，必須要先對電腦的區域網路連線做部分設定，以及至計中的宿舍申請首頁做帳號開通，並申請網路使用權。詳情請參閱計中的宿網申請說明。</p>
    <p>除了設定及開通帳號以外，使用宿舍網路之前必須先至行政大樓出納組購買啟動碼（費用為800元），然後至計中網站登記使用。啟動碼購買時間與使用方式可參考計中宿舍網路系統；學校出納組位置可以參考中大校園－＞行政區－＞出納組。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>
