<div id ="top">
	<div class="tree1">
		<a href="view.php?aid=5"><img src="templates/zh_tw/images/detail_living_tag01.png" alt="男生宿舍" /></a>
        <a href="view.php?aid=6"><img src="templates/zh_tw/images/detail_living_tag02.png" alt="女生宿舍" /></a>
        <a href="view.php?aid=7"><img src="templates/zh_tw/images/detail_living_tag03.png" alt="宿網申請" /></a>
        <a href="view.php?aid=8"><img src="templates/zh_tw/images/detail_living_tag04.png" alt="冷氣使用" /></a>
        <a href="view.php?aid=9"><img src="templates/zh_tw/images/detail_living_tag05.png" alt="住宿所需" /></a>
        <a href="view.php?aid=10"><img src="templates/zh_tw/images/detail_living_tag06.png" alt="宿舍規則" /></a>
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="dorm.php">[住宿資訊]</a> >>
	<a href="dorm.php">[男生宿舍]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_living_title01.png" />
    </div>
    <h>【男3舍】</h>
    <p>男3舍：建於民國61年，有232個床位，4人房，屬公共衛浴。地點鄰近宵夜街及後門；寢室內設施有床組(皆為上舖)、衣櫃、書桌、冷氣機(需自行購買冷氣儲值卡)。床組的長度為200cm×100cm，建議可攜帶軟性質床墊較佳，並可帶檯燈、小型電扇、小鎖頭(可將個人重要物品鎖於衣櫃內)。</p>
    <p>宿舍公共區域及設備：</p>
	<p>1.交誼廳：採用簡約風格傢俱，有電視機及沙發，是個可以休憩、娛樂的生活空間。</p>
    <p>2.簡易廚房：提供冰箱、微波爐、電鍋、烤箱等簡易烹飪廚具，學生可以於此烹飪餐點。</p>
    <p>3.公共設備：洗衣機(10元/次)、烘衣機(10元/次)、脫水機(免費)、飲水機。</p>
    <h>【男7舍】</h>
    <p>建於民國73年，共有262個床位，4人房，屬公共衛浴。地點位於第七餐廳旁，寢室內設施有床組(皆為上舖)、衣櫃、書桌、冷氣機(需自行購買冷氣儲值卡)。床組的長度為200cm×100cm，建議可攜帶軟性質床墊較佳，並可帶檯燈、小型電扇、小鎖頭(可將個人重要物品鎖於衣櫃內)。</p>
	<p>宿舍公共區域及設備：</p>
    <p>1.生活學習廳：內含自修室、電腦室、簡易廚房。</p>
    <p>2.簡易廚房：提供冰箱、微波爐、電鍋、烤箱等簡易烹飪廚具，學生可以於此烹飪餐點。</p>
    <p>3.交誼廳：採用簡約風格傢俱，有電視機及沙發，是一個可以休憩、娛樂的生活空間。</p>
    <p>4.公共設備：洗衣機(10元/次)、烘衣機(10元/次)、脫水機(免費)、飲水機。</p>	
    <h>【男11舍】</h>
    <p>建於民國78年，共有332個床位，4人房，其中18床為2人房愛心寢室，屬公共衛浴。地點位於敦煌書局樓上，附近有郵局、洗衣部、眼鏡部、美髮部，寢室內設施有床組(皆為上鋪)、衣櫃、書桌、冷氣機(需自行購買冷氣儲值卡)。床組的長度為190cm×93cm，建議可攜帶軟性質床墊較佳，並可帶檯燈、小型電扇、小鎖頭(可將個人重要物品鎖於衣櫃內)。</p>
    <p>本舍的愛心寢室為下舖，提供給行動不便或受傷的學生申請使用。</p>
    <p>宿舍公共區域及設備：</p>
    <p>1.交誼廳：採用簡約風格傢俱，有電視機及沙發，是一個可以休憩、娛樂的生活空間。</p>
    <p>2.簡易廚房：提供冰箱、微波爐、電鍋、烤箱等簡易烹飪廚具，學生可以於此烹飪餐點。</p>
    <p>3.公共設備：洗衣機(10元/次)、烘衣機(10元/次)、脫水機(免費)、飲水機。</p>
    <h>【男9B舍】</h>
    <p>男9B舍，建於民國75年，共有304個床位，4人房，屬公共衛浴。地點位於中大前門往右行駛約100公尺，一樓有第9餐廳及萊爾富便利商店，寢室內設施有床組(皆為上舖)、衣櫃、書桌、冷氣機(需自行購買冷氣儲值卡)。床組的長度為187cm×88cm，建議可攜帶軟性質床墊較佳，並可帶檯燈、小型電扇、小鎖頭(可將個人重要物品鎖於衣櫃內)。</p>
    <p>宿舍公共區域及設備：</p>
    <p>1.交誼廳：佈置採簡約風格，有電視機及椅子，是一個可以休憩、聊天娛樂的生活空間。</p>
    <p>2.桌球室：提供桌球桌，可讓學生在課堂間暇之餘活動筋骨。</p>
    <p>3.自修室：有廣大的閱讀空間及桌椅，可於此K書或進行功課研討。</p>
    <p>4.簡易廚房：提供冰箱、微波爐、電鍋、烤箱等簡易烹飪廚具，學生可以於此烹飪個人餐點。</p>
	<p>5.公共設備：洗衣機(10元/次)、烘衣機(10元/次)、脫水機(免費)、飲水機。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>
