<div id ="top">
	<div id="tree">
		<a href="dorm.php"><img src="templates/zh_tw/images/detail_living_tag01.png" alt="男生宿舍" /><a>
        <a href="dorm1.php"><img src="templates/zh_tw/images/detail_living_tag02.png" alt="女生宿舍" /><a>
        <a href="dorm2.php"><img src="templates/zh_tw/images/detail_living_tag03.png" alt="宿網申請" /><a>
        <a href="dorm3.php"><img src="templates/zh_tw/images/detail_living_tag04.png" alt="冷氣使用" /><a>
        <a href="dorm4.php"><img src="templates/zh_tw/images/detail_living_tag05.png" alt="住宿所需" /><a>
        <a href="dorm5.php"><img src="templates/zh_tw/images/detail_living_tag06.png" alt="宿舍規則" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_living_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="dorm.php">[住宿資訊]</a> >>
	<a href="dorm1.php">[女生宿舍]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_living_title02.png" />
    </div>
    <h>【女1舍】</h>
    <p>女1舍，建於民國59年，共有234個床位，4人房，其中有6床為愛心寢室，屬公共衛浴。地地點鄰近宵夜街及後門；寢室內設施有床組(皆為上舖)、衣櫃、書桌、冷氣機(需自行購買冷氣儲值卡)。床組的長度為186cm×100cm，建議可攜帶軟性質床墊較佳，並可帶檯燈、小型電扇、小鎖頭(可將個人重要物品鎖於衣櫃內)。</p>
    <p>本舍的愛心寢室為下舖，提供給行動不便或受傷的學生申請使用。</p>
    <p>宿舍公共區域及設備：</p>
    <p>1.交誼廳：採用簡約風格傢俱，有電視機及沙發，是一個可以休憩、聊天娛樂的生活空間。</p>
    <p>2.簡易廚房：提供冰箱、微波爐、電鍋、烤箱等簡易烹飪廚具，學生可以於此烹飪個人餐點。</p>
    <p>3.公共設備：洗衣機(10元/次)、烘衣機(10元/次)、脫水機(免費)、飲水機。</p>
    <h>【女4舍】</h>
    <p>女4舍，建於民國59年，共有234個床位，4人房，屬公共衛浴。地地點鄰近宵夜街及後門；寢室內設施有床組(上、下舖)、衣櫃、書桌、冷氣機(需自行購買冷氣儲值卡)。床組的長度為185cm×100cm，建議可攜帶軟性質床墊較佳，並可帶檯燈、小型扇、小鎖頭(可將個人重要物品鎖於衣櫃內)。</p>
    <p>寢號為103.104.118.119.120. 121.122.203.204.218. 219.220.221.222.301. 303.304.320.321.322. 323.324.401.402.403. 404.420.421.422.423. 424.501.502.503.504. 520.521.522.523.524的房間，床組的長度為185cm×85cm，分配到這幾間學生的學生，請購買較小的床墊。</p>
    <p>宿舍公共區域及設備：</p>
    <p>1.交誼廳：採用簡約風格傢俱，有電視機及沙發，是一個可以休憩、聊天娛樂的生活空間。</p>
    <p>2.簡易廚房：提供冰箱、微波爐、電鍋、烤箱等簡易烹飪廚具，學生可以於此烹飪個人餐點。</p>
    <p>3.自修室：有廣大的閱讀空間及桌椅，可於此K書或進行功課研討。</p>
    <p>4.公共設備：洗衣機(10元/次)、烘衣機(10元/次)、脫水機(免費)、飲水機。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>
