<div id ="top">
	<div id="tree">
		<a href="dorm.php"><img src="templates/zh_tw/images/detail_living_tag01.png" alt="男生宿舍" /><a>
        <a href="dorm1.php"><img src="templates/zh_tw/images/detail_living_tag02.png" alt="女生宿舍" /><a>
        <a href="dorm2.php"><img src="templates/zh_tw/images/detail_living_tag03.png" alt="宿網申請" /><a>
        <a href="dorm3.php"><img src="templates/zh_tw/images/detail_living_tag04.png" alt="冷氣使用" /><a>
        <a href="dorm4.php"><img src="templates/zh_tw/images/detail_living_tag05.png" alt="住宿所需" /><a>
        <a href="dorm5.php"><img src="templates/zh_tw/images/detail_living_tag06.png" alt="宿舍規則" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_living_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="dorm.php">[住宿資訊]</a> >>
	<a href="dorm4.php">[住宿所需]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_living_title05.png" />
    </div>
    <h>【寢具用品】</h>
    <div class="p3">棉被、單人床墊、枕頭</div>
    <h>【電器用品】</h>
    <div class="p3">檯燈、延長線、電腦、螢幕（19吋寬螢幕或17吋以下液晶為佳）、網路線、吹風機、手機、充電器<</div>
    <h>【重要文件】</h>
    <div class="p3">身分證、健保卡、畢業證書、印章、2吋大頭照（兩張以上）、駕照（如果有的話）、提款卡、相關證書</div>
    <h>【個人物品】</h>
    <div class="p3">錢包、零用錢、文具、眼鏡、鬧鐘、藥品</div>
    <h>【個人衣物】</h>
    <div class="p3">上衣、長短褲、內衣、內褲、襪子、鞋子、泳裝、蛙鏡、泳帽（可能有游泳課）</div>
    <h>【盥洗清潔】</h>
    <div class="p3">臉盆、洗衣粉（精）、洗衣籃、衣架、曬衣夾、漱口杯、牙刷、牙膏、洗面乳、洗髮精、沐浴乳／香皂、毛巾、浴巾、梳子、鏡子、指甲剪、垃圾袋</div>
    <h>【衛生用品】</h>
    <div class="p3">衛生紙、衛生棉、護墊</div>
    <h>【其他物品】</h>
    <div class="p3">腳踏車及其專用鎖（可在學校附近購買）、小掛鎖／密碼鎖（鎖櫃子用）、雨具、拖鞋、浴室拖</div>
    <h>＊非必需品＊</h>
    <br />
    <h>【電器用品】</h>
    <div class="p3">小型電扇、兩孔轉三孔轉接頭、計算機、電子辭典、相機、各類相關充電器、電話機（一寢配有一分機號碼，可與室友討論是否添購電話機）</div>
    <h>【盥洗清潔】</h>
    <div class="p3">洗衣刷、洗衣板（打算手洗衣服才買）、曬衣鏈（可和室友合資購買）、保養品、化妝品、蚊帳或各式防蚊用品（等住宿後依實際情形決定是否需要）</div>
    <h>【環保餐具】</h>
    <div class="p3">碗、杯子、筷子、湯匙等</div>
    <h>【其他用品】</h>
    <div class="p3">書籍、收納盒／箱、巧拼（可與室友合資購買）、垃圾筒（可和室友合資購買）、掃具（可和室友合資購買）、抹布、大水壺（可以不用一直去飲水機裝水）</div>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>