<div id="top">
	<div class="tree">
    	<a href="view.php?aid=1"><img src="templates/zh_tw/images/detail_food_tag01.png" alt="後門" /></a>
		<a href="view.php?aid=2"><img src="templates/zh_tw/images/detail_food_tag02.png" alt="宵夜街" /></a>
		<a href="view.php?aid=3"><img src="templates/zh_tw/images/detail_food_tag03.png" alt="校內餐廳" /></a>
		<a href="view.php?aid=4"><img src="templates/zh_tw/images/detail_food_tag04.png" alt="露天咖啡" /></a>
    </div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="food.php">[食在中大]</a> >>
	<a href="food2.php">[校內餐廳]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_food_title03.png" />
    </div>
    <h>男九舍學生餐廳</h>
    <p>九餐為男九舍一樓所附設的餐廳。一進大門，就可以看到許多商家以ㄇ字型排列在內。其中提供了許多類型的餐點，如早餐店、自助餐、滷味、蔥抓餅、麵食店、飲料店等。對於居住在校園北區、或於北區上課的同學來講，是一個便利的選擇。</p>
    <h>男七舍學生餐廳</h>
    <p>七餐位於男七舍的一樓。其中提供了早餐、麵食、飯食、以及素食自助餐，讓素食者有了更多元化的選擇。另外，七餐內也有販售新鮮水果、現打果汁、刨冰等，是許多師生用餐的好選擇。</p>
    <h>松果庭園</h>
    <p>松果庭園位於百花川通往管院的入口處、綜教館旁，是一個充滿異國風情的露天餐廳。這裡提供露天座位供人用餐，佐以優美的音樂。餐點可供內用、外帶，也提供了外送服務。</p>
    <p>松果庭園景觀甚優，提供的餐點主要是潛艇堡以及義大利麵類的簡餐為主，也有不少輕食。時常可以看到許多外國人坐在這邊暢談。松果庭園也是學生們在讀書之餘放鬆身心的好地方。每逢各大節日，松果庭園也會有不一樣的佈置：如聖誕節前夕，店家會將店內佈置成紐約的風格，讓人有種置身紐約街角的感覺。</p>
    <p>服務電話：0933-444403</p>
	<p>營業時間：8:00~20:00</p>
    <div><img src="templates/zh_tw/images/松果1.jpg" width="320px" height="260px" />
    	 <img src="templates/zh_tw/images/松果菜單.jpg" width="320px" height="260px" />
   	</div> 
    <h>松苑庭園</h>
    <p>松苑庭園位於松苑餐廳外，鄰近依仁堂，因為位於許多宿舍與系館的交會地，常常可以看到同學們在課餘時間來此用餐。</p>
    <p>松苑庭園主要提供的餐點是三明治與套餐組合，輕食和炸物也是店家的重點推銷。飲品方面有店家特調的飲料以及咖啡。此外，每天都會提供現烤麵包與餅乾，讓這裡成為下午茶的好地點。要注意的是，假日時松苑庭園沒有套餐組合，而是提供輕食與客家菜包。</p>
    <div class="image2"><img src="templates/zh_tw/images/松苑.jpg" width="300px" height="250px" />
    	 <img src="templates/zh_tw/images/松苑1.jpg" width="300px" height="250px" />
   	</div>
    <p>電話：(03)490-4322</p>
    <p>營業時間：11：00 ~ 14：30</p>
    <div class="p2">17：00 ~ 20：00</div>
    <h>古吉拉斯</h>
    <p>古吉拉斯位於宵夜街口的斜坡上，餐點是獨具特色的墨西哥風味餐點，以及各式焗烤料理、咖啡與飲料。古吉拉斯提供許多的露天座位，四周樹木環繞，環境通風舒爽，因此成為許多學生聚會的地點。也因為古吉拉斯是校內少數提供異國風味餐點的餐廳，所以可以常常看到許多遠從國外來的留學生在此用餐。</p>
    <p>古吉拉斯主要的特色是：許多活動會在這裡舉行。如創意市集或是大氣系風雲季，都曾使用古吉拉斯做為活動場地。</p>
    <div class="image2"><img src="templates/zh_tw/images/pine.jpg" width="300px" height="250px" />
    	 <img src="templates/zh_tw/images/pine2.jpg" width="300px" height="250px" />
   	</div> 
    <h>松苑中餐廳＆松苑西餐廳</h>
    <p>位於後門創意育成中心旁的松苑餐廳，一樓為中式餐廳，二樓則為西式餐廳。中餐廳主要是自助餐為主，菜色每天都會隨機更換，以家常菜為招牌，平時會有許多同學及教授前往用餐。平常除了有提供自助餐外，也有客家菜、合菜可供選擇，也可以跟松苑中餐廳訂便當。</p>
    <p>二樓的西餐廳有提供簡單的buffet以及精緻的排餐，對於平時吃慣自助餐或是炒飯、炒麵的同學們，是個偶爾為之的不錯選擇。</p>
    <h>菲爾斯塔　Fiesta</h>
    <p>位於管理學院二館一樓。菲爾斯塔所提供的餐點主要為義大利麵及排餐，也有一些異國料理及輕食類餐點，提供同學們異國風味的餐點。價位平價，因此是許多學生聚餐或是導生聚會的一個選擇。</p>
    
    <div class="image1"><img src="templates/zh_tw/images/Fiesta.jpg" width="500px" height="375px" /></div>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_food_bottom.png" />
</div>
