<div id="top">
	<div id="tree">
		<a href="view.php?aid=1"><img src="templates/zh_tw/images/detail_food_tag01.png" alt="後門" /></a>
		<a href="view.php?aid=2"><img src="templates/zh_tw/images/detail_food_tag02.png" alt="宵夜街" /></a>
		<a href="view.php?aid=3"><img src="templates/zh_tw/images/detail_food_tag03.png" alt="校內餐廳" /></a>
		<a href="view.php?aid=4"><img src="templates/zh_tw/images/detail_food_tag04.png" alt="露天咖啡" /></a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_food_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="view.php?=1">[食在中大]</a> >>
	<a href="view.php?=1">[後門]</a>
</div>
<div id="middle">
	<div id="heading"><img src="templates/zh_tw/images/detail_food_title01.png" /></div>
	<p>中央大學後門，是著名的早餐街，號稱是全台密度最高的早餐聚集地，除了早餐店以外，也有各式簡餐店、自助餐店、飲料店、便利商店，是除了消夜街之外，學生主要用餐的地點。</p>
    <p>後門的早餐店營業時間大多都至三點鐘，主要是為了配合學生的作息提供早午餐，有的甚至提供晚餐供大家選擇。每一家早餐店都有各自的特色和風格，內部擺設也很與眾不同，為了服務學生也有店家提供無線上網服務。</p>
    <p>後門便利商店的選擇有7-11、全家與萊爾富；值得注意的是，除了便利商店以外，也有像「我家」這樣的小型五金百貨店。</p>
    <p>另外，因為在中央大學的校園裡，腳踏車是許多學生主要用來代步的交通工具，中央大學在後門與消夜街都有腳踏車店提供維修與販賣服務。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_food_bottom.png" />
</div>
