<div id="top">
	<div id="tree">
		<a href="food.php"><img src="templates/zh_tw/images/detail_food_tag01.png" alt="後門" /></a>
		<a href="food1.php"><img src="templates/zh_tw/images/detail_food_tag02.png" alt="宵夜街" /></a>
		<a href="food2.php"><img src="templates/zh_tw/images/detail_food_tag03.png" alt="校內餐廳" /><a>
		<a href="food3.php"><img src="templates/zh_tw/images/detail_food_tag04.png" alt="露天咖啡" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_food_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="food.php">[食在中大]</a> >>
	<a href="food1.php">[宵夜街]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_food_title02.png" />
    </div>
    <p>每到用餐時間總會看到大量人潮進出，位於男三舍旁與一餐活動中心中間的「宵夜街」是學生們平時主要用餐的地方之一。宵夜街入口處常張貼活動海報，經常可以在這裡看到同學們發傳單、喊口號宣傳活動；另外在一餐前的空地設有社團表演區可讓學生們用來表演或宣傳。</p>
    <p>宵夜街提供各式各樣吃的選擇，從早點的蛋餅、三明治到午餐和晚餐的便當、麵食、簡餐，自助餐或是宵夜的雞排和飲料等等，都有很多樣化又便宜的選擇喔。宵夜街裡有數家影印店，方便同學們影印或是裁書；此外宵夜街底也有腳踏車行，我們可以在這裡修理腳踏車或買賣新舊腳踏車。</p>
	<div><img src="templates/zh_tw/images/統聯.jpg" width="500px" height="375px" />
    </div>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_food_bottom.png" />
</div>
