<div id="top">
	<div id="tree">
		<a href="food.php"><img src="templates/zh_tw/images/detail_food_tag01.png" alt="後門" /><a>
		<a href="food1.php"><img src="templates/zh_tw/images/detail_food_tag02.png" alt="宵夜街" /><a>
		<a href="food2.php"><img src="templates/zh_tw/images/detail_food_tag03.png" alt="校內餐廳" /><a>
		<a href="food3.php"><img src="templates/zh_tw/images/detail_food_tag04.png" alt="露天咖啡" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_food_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="food.php">[食在中大]</a> >>
	<a href="food2.php">[露天咖啡]</a>
</div>
<div id="middle">
	<div id="heading">
		<img src="templates/zh_tw/images/detail_food_title04.png" />
    </div>
    <p>校園Café位於新研舍地下室一樓，位置處於較隱密處，有提供簡餐類餐點及三明治或鬆餅類的輕食甜點，種類繁多。此外，店家還會因應節日推行限定的風格餐點，是一間多元化咖啡簡餐店。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_food_bottom.png" />
</div>