<div id="top">
	<div id="tree">
		<a href="view.php?aid=27"><img src="templates/zh_tw/images/detail_health_tag02.png" alt="校內衛保組" /></a>
		<a href="view.php?aid=28"><img src="templates/zh_tw/images/detail_health_tag03.png" alt="校外特約醫院" /></a>
		<a href="view.php?aid=29"><img src="templates/zh_tw/images/detail_health_tag04.png" alt="心理諮詢" /></a>
        <a href="view.php?aid=30"><img src="templates/zh_tw/images/detail_health_tag05.png" alt="校內流浪狗" /></a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_health_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="health.php">[衛生保健]</a> >>
	<a href="health.php">[校內衛保組]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_health_title01.png" />
    </div>
    <p>本校衛保組位於中正圖書館一樓，提供緊急醫療處理(如傷口包紮)及醫療器材的借用，需注意的是，衛保組並不能提供藥品，另外衛保組也協助學生平安保險理賠的辦理。</p>
    <p>衛保組服務項目：</p>
    <h3>1. 外傷處理或校內緊急狀況</h3>
    <p>受傷可於上班時間可至衛保組做傷口包紮的處理，緊急時可撥衛保組分機(57270、57271)，將會有護理人員過去處理，非上班時間請撥教官室分機(57212)、 警衛室(57119、57319)或直撥119求援。</p>
    <h3>2. 器材租借</h3>
    <p>本校衛生保健組提供相關醫療器材(柺杖、輪椅、三角巾及醫藥箱)、衛生保健書籍、光碟及錄影帶，供全校教職員工生及眷屬使用。</p>
    <p>•借用得於上班時間內，學生憑學生證、教職員憑服務證辦理借用手續，證件留存本組，於物品歸還時取回。</p>
    <p>•借用之任何物品如有遺失或損毀，應照價賠償。</p>
    <h3>3. 餐飲衛生管理</h3>
    <p>本校由膳食管理委員會統籌餐飲衛生督導及決策，以維持校內餐廳供餐之營養衛生，達成維護全校師生健康之目標。</p>
    <p>詳情請參照衛保組網站(<a href="http://140.115.183.208/tw/hygi/hygi.php">http://140.115.183.208/tw/hygi/hygi.php</a>)</p>
    <h3>4. 健康和營養諮詢</h3>
    <p>當同學對身體的狀況有疑慮，或想調整飲食方式(如：想增重、減肥、或因疾病需改變飲食習慣)，可到衛保組找營養師做諮詢服務，為自己的身體健康做好把關。</p>
    <p>諮詢當日需攜帶本人三天之飲食運動紀錄，以利了解飲食習慣!</p>
    <p>時間：每週三、四下午1:30-4:00</p>
    <p>一律採網路預約制唷~</p>
    <p>需收到營養師的確認email才算是完成預約程序唷~!!</p>
    <p>營養諮詢預約網站(<a href="http://140.115.183.208/tw/nutrition/" class="test">http://140.115.183.208/tw/nutrition/</a>)</p>
<p>飲食運動日記：<a href="">[按此下載]</a></p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_health_bottom.png" />
</div>