<div id="top">
	<div id="tree">
		<a href="health.php"><img src="templates/zh_tw/images/detail_health_tag02.png" alt="校內衛保組" /><a>
		<a href="health1.php"><img src="templates/zh_tw/images/detail_health_tag03.png" alt="校外特約醫院" /><a>
		<a href="health2.php"><img src="templates/zh_tw/images/detail_health_tag04.png" alt="心理諮詢" /><a>
        <a href="health3.php"><img src="templates/zh_tw/images/detail_health_tag05.png" alt="校內流浪狗" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_health_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="health.php">[衛生保健]</a> >>
	<a href="health1.php">[校外特約醫院]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_health_title03.png" />
    </div>
    <div id="p1">持中大學生證到中大特約醫院看診可享有優惠</div>
    <h>特約醫院</h>
    <table>
    <tbody>
    	<tr>
        	<td id="firstmap">特約醫院名錄</td>
            <td id="secondmap">對象及證明文件</td>
            <td id="thirdmap">優待條件</td>
        </tr>
        <tr>
        	<td id="firstmap">中壢祐民<br />醫院中壢市民族路二段180號(新屋交流道附近、麥當勞斜對面)<br />電話：03-4915656</td> 
			<td id="secondmap">1.教職員工、生(攜帶服務証或學生証、健保卡)<br />2.教職員工之眷屬，限父母、配偶及其子女(攜帶員工服務証、本人身分証、健保卡)</td>
            <td id="thirdmap">1.門診掛號費優待 50 元<br />2.病房費收費八折計價<br />3.緊急狀況免費接送</td>
        </tr>
        <tr>
        	<td id="firstmap">當代牙醫診所<br />中壢市中央西路二段45號<br />電話：03-4948311 ,03-4946054</td> 
			<td id="secondmap">教職員工、生(攜帶服務証或學生証、本人身分証、健保卡)</td>
            <td id="thirdmap">掛號費加部分負擔減免 50 元 </td>
        </tr>
        <tr>
        	<td id="firstmap">天晟醫院<br />中壢市延平路155號(魚市場旁、新街國小斜對面)<br />電話：03-4629292</td> 
			<td id="secondmap">1.教職員工、生(攜帶服務証或學生証、健保卡)<br />2.教職員工之眷屬，限父母、配偶及其子女(攜帶員工服務証、本人身分証、健保卡)</td>
            <td id="thirdmap">1.門、急診掛號費八折<br />2.住院病房差額及自費病房八折 </td>
        </tr>
        <tr>
        	<td id="firstmap">高正雄骨科復健中心<br />中壢市中山路516號(勞聯社旁、新明市場附近)<br />電話：03-4024833,03-4023940 </td> 
			<td id="secondmap">1.教職員工、生(攜帶服務証或學生証、本人身分證、健保卡)<br />2.教職員工之眷屬，限父母、配偶及其子女(攜帶員工服務証、本人健保卡、身分証)</td>
            <td id="thirdmap">1.掛號費免費<br />2.如有其他需收費項目八折 </td>
        </tr>
        <tr>
        	<td id="firstmap">大林復健科診所<br />中壢市中央西路二段80號(新明國小斜對面)<br />電話：03-4951671 </td> 
			<td id="secondmap">1.教職員工、生(攜帶服務証或學生証、本人身分證、健保卡)<br />2.教職員工之眷屬，限父母、配偶及其子女(攜帶員工服務証、本人健保卡、身分証)</td>
            <td id="thirdmap">1.掛號費 100 元(原收 150 元)，免收部分負擔<br />2.如有其他需收費項目八折 </td>
        </tr>
    </tbody>
    </table>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_health_bottom.png" />
</div>
