<div id="top">
	<div id="tree">
		<a href="health.php"><img src="templates/zh_tw/images/detail_health_tag02.png" alt="校內衛保組" /><a>
		<a href="health1.php"><img src="templates/zh_tw/images/detail_health_tag03.png" alt="校外特約醫院" /><a>
		<a href="health2.php"><img src="templates/zh_tw/images/detail_health_tag04.png" alt="心理諮詢" /><a>
        <a href="health3.php"><img src="templates/zh_tw/images/detail_health_tag05.png" alt="校內流浪狗" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_health_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="health.php">[衛生保健]</a> >>
	<a href="health2.php">[校內流浪狗]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_health_title04.png" />
    </div>
    <p>汪汪社現在對學校流浪狗的管理辦法是:TNR；T是捕捉 N是結紮 R是移除在通報完後，汪汪社會派社員去將他捕捉，將他結紮後會移除不會讓他繼續待在學校裡，我們也有可能找附近的工廠幫牠們做認養至於學校的狗狗還是會留下一定的數量，因為狗狗們有地域性，地域性會驅使它們趕走外來的新狗。</p>
    <p>不論咬人的狗是新狗、舊狗（如常聽到的湯麵之類的）或是家犬汪汪社都會做處理只要是行為不良的狗，社團都會限制其行動接下來進行TNR至於如何應對暴走狗群，其實狗狗在晚上的時候會對東西具有高度警覺性並會想去追趕或甚至獵捕，這是他們與生俱來的本質，若您被追了，可以嘗試大聲嚇阻、叫喊或是放慢腳步，社團有接獲幾個案例是：</p>
    <p>「有人被追後，停下來，與牠們對看幾秒後，狗狗們就自討沒趣的走了。」對一般人來說放慢腳步也許真的很難，但是速度更快會給他們您在挑釁的感覺，
若同學們往後有被追被吠的情況，可以隨時通知汪汪社的人，社內的人會將之進行關籠教育，再不行會將之從學校移除另外補充一點，在校內的同學勿隨意餵食，這樣可能會造成某些狗狗認為其有靠山，所以變有恃無恐導致他認為咬了人是對的。</p>
	<p>在這補充，只要是有被追過或是吠過的人隨時可以來信NCUDOGS或至社版發表意見或是指認狗狗，因為不良狗隻我們也是會進行移除，汪汪社歡迎大家的意見或是建議！</p>
    <p>另外，請補狗大隊來學校其實沒有辦法根治校內流浪狗問題抓完一批，接下來又有新的一批進來，其實這是有做過調查統計的，TNR實有助於減少流浪狗數量，汪汪社是站在尊重生命的角度，不僅僅是一顆單純想愛護的心，但我們是絕對贊成好的狗留下來，不好的狗移除的政策我們出發點也是校內人與狗的合諧，所以不會過度溺愛校內流浪狗。</p>
    <p>若有任何疑問或是建議歡迎隨時寄信至二進位NCUDOGS信箱或是在二進位汪汪社版發問</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_health_bottom.png" />
</div>