<div id="top">
	<div id="tree">
		<a href="health.php"><img src="templates/zh_tw/images/detail_health_tag02.png" alt="校內衛保組" /><a>
		<a href="health1.php"><img src="templates/zh_tw/images/detail_health_tag03.png" alt="校外特約醫院" /><a>
		<a href="health2.php"><img src="templates/zh_tw/images/detail_health_tag04.png" alt="心理諮詢" /><a>
        <a href="health3.php"><img src="templates/zh_tw/images/detail_health_tag05.png" alt="校內流浪狗" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_health_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="health.php">[衛生保健]</a> >>
	<a href="health2.php">[心理諮詢]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_health_title04.png" />
    </div>
    <p>上了大學後，總覺得時間不夠用，書也唸不完，社團也忙的一身累，愛情…那更像是遠在天邊的一顆星，根本挪不出時間好好經營；畢業了，我的未來在哪
裡，我的願景在哪裡；總算考上了研究所，對未來的出路仍舊一頭霧水；總覺得好像沒有什麼朋友，每年總是自己一個人過生日…</p>
	<p>這麼多生活上的問題，來找諮商老師，都能幫助大家一臂之力唷！「諮商中心」不但有專業的心理諮商師，仔細聆聽不為人知的心聲、協助您ㄧ同解開
困境與迷惑、以及找到屬於自己的方向，並做自己的主人。此外和導師間的關係、兩性交往、社團團隊合作等等，舉凡人與人之間的互動關係，都是諮商中
心可以幫助您、協助您的範圍喔！</p>
	<p>當然，在這多元的社會，更要多多注意其他的相對弱勢的朋友們，諮商中心的「資源教室」，提供身心障礙的同學們一個舒適、歡樂、以及心靈交流和成長
的空間。「小松鼠志工隊」，更是集合有熱心、有愛心、有關懷心的您，一起幫助周遭同學朋友們的團隊，施比受更有福，和我們一起來成為樂於幫助人的
有福之人吧！</p>
	<p> 追求卓越的中央大學，更重視人文關懷，「諮商中心」提供一個柔性的空間，繁忙的課業之餘，來到諮商中心，親切的老師和同學們，將帶給您無限的
溫暖，諮商中心永遠為您敞開大門，歡迎同學們的到來。</p>
	<p>晤談室開放時間: 星期一～星期五 AM9:00～PM9:00</p>
    <p>預約晤談系統：http://140.115.183.140/counselsystem/index_client.htm</p>
    <p>諮商中心位置：舊圖書館南門一樓（藝文中心入口）</p>
    <p>http://140.115.183.140:8080/NCU_Counsel/home_show.php</p>
    <h>個別諮商服務</h>
    	<p>一、時間：每週一至週五，上午九點至晚間九點，例假日除外。</p>
        <p>二、對象：本校學生及教職員。</p>
        <p>三、經初談後，始排定個別諮商老師。</p>
        <p>四、預約初談方式：
    	<br />
        1.來電預約：03-4227151轉分機57263-4
        <br />
        2.上網預約：http://love.adm.ncu.edu.tw
        <br />
        3.親自到諮商中心預約
        </li>
        <p>五、若有任何疑問，請洽諮商中心，分機57263或57264</p>
        <p>六、專/兼任諮商輔導老師輔導專長表<a href="" class="href">[按此下載]</a></p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_health_bottom.png" />
</div>