<div id="top">
	<div id="tree">
		<a href="LifeNeedToKnow.php"><img src="templates/zh_tw/images/detail_life_tag01.png" alt="書店" /><a>
		<a href="LifeNeedToKnow1.php"><img src="templates/zh_tw/images/detail_life_tag02.png" alt="理髮店" /><a>
		<a href="LifeNeedToKnow2.php"><img src="templates/zh_tw/images/detail_life_tag03.png" alt="洗衣部" /><a>
		<a href="LifeNeedToKnow3.php"><img src="templates/zh_tw/images/detail_life_tag04.png" alt="小超市" /><a>
		<a href="LifeNeedToKnow4.php"><img src="templates/zh_tw/images/detail_life_tag05.png" alt="便利商店" /><a>
		<a href="LifeNeedToKnow5.php"><img src="templates/zh_tw/images/detail_life_tag06.png" alt="校內郵務" /><a>
		<a href="LifeNeedToKnow6.php"><img src="templates/zh_tw/images/detail_life_tag07.png" alt="量販店" /><a>
        <a href="LifeNeedToKnow7.php"><img src="templates/zh_tw/images/detail_life_tag08.png" alt="電影院" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_life_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
    <a href="LifeNeedToKnow.php">[便利生活]</a> >>
	<a href="LifeNeedToKnow4.php">[校內郵務]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_life_title05.png" />
    </div>
    <h>一、郵局</h>
    <p>郵局的位置，位於男１１舍與女１４舍之間，在離宵夜街不遠的地方。它提供了非常多的郵政服務：例如寄平信、掛號、匯款、轉帳等項目。</p>
    <p>如果需要櫃檯服務則需要抽取號碼牌，櫃檯人員的服務時間是星期一到星期五，早上八點到下午五點。另外郵局還有提供兩台提款機以及一台補摺機供大家使用，這些是二十四小時開放，在郵政人員下班之後依然可以使用。</p>
    <p>另外在寒暑假前夕，郵局也會提供包裹寄送的服務，讓同學可以把自己的東西寄回家。</p>
    <p>連絡電話：(03)4902-528；　傳真：(03)4907-254</p>
    <h>二、郵件快遞</h>
    <p>本校的郵件快遞是由文書組負責。若是有掛號的郵件或包裹要領取，可以按照下面的步驟：</p>
    <p>1. 至文書組郵件招領網頁查詢，並列印「提貨單」。</p>
    <p>2. 將「提貨單」及「學生證」（或有照片的證件）帶至行政大樓一樓右手邊的文書組收發室領去郵件包裹。（若替人代領，本人及代領人的學生證都要攜
　帶學生證）。</p>
	<p>3. 也可以到bbs二進位(telnet://140.115.50.50)的NCU_News板上查詢掛號的郵件包裹。</p>
    <p>郵件可領取的時間為文書組辦公的時間，是早上八點到下午五點，午休時間除外（午休時間為12:00 ~ 13:30）。但是如果要領取當日郵件，必須等到當天下午一點半之後才可領取。</p>
    <p>要寄到學校的信須註明學校地址+宿舍+房號，學校的地址為「32001 桃園縣中壢市五權里2鄰中大路300號」。</p>
    <p>學校的郵件招領系統有「以學校計中sparc帳號通知掛號郵件」的功能，因此寄信時，可以請寄信人在掛號信上附收件人的學號，如有附上學號，系統將會自動寄信到收件人的學校信箱以通知郵件已到達。</p>
    <p>若是寄平信到學校來，一樣會送到文書組，不過平信並不包含在這個郵件招領系統的服務範圍之內。平信會由宿舍幹部到文書組領取，再拿回去分送到各寢室位於宿舍公共區域的寢室信箱。需要注意的是，宅急便包裹會直接送到宿舍門口。</p>
    <p>相關問題請參考總務處文書組網站</p>
    <p>電話：(03)422-7151轉57353</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_life_bottom.png" />
</div>
