<div id="top">
	<div id="tree">
		<a href="LifeNeedToKnow.php"><img src="templates/zh_tw/images/detail_life_tag01.png" alt="書店" /><a>
		<a href="LifeNeedToKnow1.php"><img src="templates/zh_tw/images/detail_life_tag02.png" alt="理髮店" /><a>
		<a href="LifeNeedToKnow2.php"><img src="templates/zh_tw/images/detail_life_tag03.png" alt="洗衣部" /><a>
		<a href="LifeNeedToKnow3.php"><img src="templates/zh_tw/images/detail_life_tag04.png" alt="小超市" /><a>
		<a href="LifeNeedToKnow4.php"><img src="templates/zh_tw/images/detail_life_tag05.png" alt="便利商店" /><a>
		<a href="LifeNeedToKnow5.php"><img src="templates/zh_tw/images/detail_life_tag06.png" alt="校內郵務" /><a>
		<a href="LifeNeedToKnow6.php"><img src="templates/zh_tw/images/detail_life_tag07.png" alt="量販店" /><a>
        <a href="LifeNeedToKnow7.php"><img src="templates/zh_tw/images/detail_life_tag08.png" alt="電影院" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_life_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="LifeNeedToKnow.php">[便利生活]</a> >>
	<a href="LifeNeedToKnow5.php">[第一銀行]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_life_title06.png" />
    </div>
    <p>中央大學於行政大樓有設立第一銀行的辦事處，服務時間為每週二、四、五09：40~12：00。校門口警衛室旁有提款機供教職員及學生使用。</p>
    <p>位於行政大樓一樓第一銀行辦事處：</p>
    <div><img src="templates/zh_tw/images/第一銀行-1.jpg" width="500px" height="375px" />
    </div>
    <p>位於校門警衛室旁第一銀行提款機：</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_life_bottom.png" />
</div>
