<div id="top">
	<div id="tree3">
		<a href="view.php?aid=19"><img src="templates/zh_tw/images/detail_life_tag01.png" alt="書店" /></a>
		<a href="view.php?aid=20"><img src="templates/zh_tw/images/detail_life_tag02.png" alt="理髮店" /></a>
		<a href="view.php?aid=21"><img src="templates/zh_tw/images/detail_life_tag03.png" alt="洗衣部" /></a>
		<a href="view.php?aid=22"><img src="templates/zh_tw/images/detail_life_tag04.png" alt="小超市" /></a>
		<a href="view.php?aid=23"><img src="templates/zh_tw/images/detail_life_tag05.png" alt="便利商店" /></a>
		<a href="view.php?aid=24"><img src="templates/zh_tw/images/detail_life_tag06.png" alt="校內郵務" /></a>
		<a href="view.php?aid=25"><img src="templates/zh_tw/images/detail_life_tag07.png" alt="量販店" /></a>
        <a href="view.php?aid=26"><img src="templates/zh_tw/images/detail_life_tag08.png" alt="電影院" /></a>
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="LifeNeedToKnow.php">[便利生活]</a> >>
    <a href="LifeNeedToKnow.php">[校內店家]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_life_title01.png" />
    </div>
	<h3>一、印象髮廊</h3>
    <p>印象髮廊位於中央大學男十一舍下方的廣場，在敦煌書局旁邊，提供便宜且具有時尚感的髮型設計。若是學生或教職員進行消費，憑學生證或教職員證有折扣。</p>
    <p>由於鄰近學生宿舍，且價格相較於校外理髮廳便宜許多，因此印象髮廊成為許多學生理髮的選擇。</p>
    <p>店家電話：(03)422-7151 轉57386</p>
    <p>營業時間：10：00 ~ 20：00</p>
    <div class="image2">
    	 <img src="templates/zh_tw/images/haircut2.jpg" width="300px" height="250px" />
         <img src="templates/zh_tw/images/haircut3.jpg" width="300px" height="250px" />
   	</div> 
    <h3>二、敦煌書局</h3>
    <p>敦煌書局位於男十一舍樓下廣場，一走下階梯即可看到敦煌美麗的玻璃櫥櫃。學生們可以在這裡購買各類文具用品與書籍並且享有較便宜的價格。系上要用到的原文教科書都可以在這裡找到，敦煌書局也提供幫忙訂購書籍的服務，如果同學們要大量訂購原文教科書就別忘了來這裡，敦煌書局除了會另外給同學們優惠更提供幫忙送到系館的服務喔！</p>
    <p>敦煌書局還提供了「二手書專賣」的服務，如果不想花太多錢買全新的原文書那就趕快來這裡瞧瞧有沒有學長姐賣的二手書吧。</p>
    <p>書局裡面也提供一些舒適的環境讓我們可以在這裡閱讀，讓我們可以先坐下來翻閱一下書籍再確定要不要購買喔。</p>
    <p>電話：(03)420-1339校內分機57393</p>
    <p>營業時間：週一至週五 09：30 ~ 21：30</p>
    <div class="p3">週六 09：30 ~ 18：00</div>
    <div class="p3">週日 09：30 ~ 21：30</div>
    <div class="image2"><img src="templates/zh_tw/images/bookstore1.jpg" width="300px" height="250px" />
    	 <img src="templates/zh_tw/images/bookstore2.jpg" width="300px" height="250px" />
   	</div> 
    <h3>三、洗衣部</h3>
    <p>洗衣部位於男七舍與男十一舍之間，提供洗衣機及烘衣機供同學使用，洗衣部的營業時間為二十四小時，全年無休。</p>
    <p>洗衣部為自助式洗衣，收費方式：洗衣機一次使用10元；烘衣機每投10元可使用三十分鐘。</p>
<div class="image2"><img src="templates/zh_tw/images/wash1.jpg" width="300px" height="250px" />
    	 <img src="templates/zh_tw/images/wash2.jpg" width="300px" height="250px" />
   	</div>  
	<h3>四、中大眼鏡行</h3>
    <p>中大眼鏡行位於男十一舍下方廣場，敦煌書局的旁邊。是一間提供中央大學教職員工和學生服務的眼鏡店。主要服務項目有：免費視力檢查、視力相關諮詢和配換眼鏡，因為合理的價格、親切的態度和完善的售後服務，讓中大眼鏡行擁有很高的評價。</p>
    <p>中大眼鏡行的營業時間：</p>
    <p>正常日：週日至週五10:00~12:00；週六13:00~18:00</p>
    <p>寒暑假：週日至週五下午13:00~18:00，每週六公休</p>
    <p>中大眼鏡行服務電話：(03)427-8666</p>
    <div class="image2"><img src="templates/zh_tw/images/glass1.jpg" width="300px" height="250px" />
    	 <img src="templates/zh_tw/images/glass2.jpg" width="300px" height="250px" />
   	</div> 
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_life_bottom.png" />
</div>
