<div id="top">
	<div id="tree">
		<a href="LifeNeedToKnow.php"><img src="templates/zh_tw/images/detail_life_tag01.png" alt="書店" /><a>
		<a href="LifeNeedToKnow1.php"><img src="templates/zh_tw/images/detail_life_tag02.png" alt="理髮店" /><a>
		<a href="LifeNeedToKnow2.php"><img src="templates/zh_tw/images/detail_life_tag03.png" alt="洗衣部" /><a>
		<a href="LifeNeedToKnow3.php"><img src="templates/zh_tw/images/detail_life_tag04.png" alt="小超市" /><a>
		<a href="LifeNeedToKnow4.php"><img src="templates/zh_tw/images/detail_life_tag05.png" alt="便利商店" /><a>
		<a href="LifeNeedToKnow5.php"><img src="templates/zh_tw/images/detail_life_tag06.png" alt="校內郵務" /><a>
		<a href="LifeNeedToKnow6.php"><img src="templates/zh_tw/images/detail_life_tag07.png" alt="量販店" /><a>
        <a href="LifeNeedToKnow7.php"><img src="templates/zh_tw/images/detail_life_tag08.png" alt="電影院" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_life_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="LifeNeedToKnow.php">[便利生活]</a> >>
	<a href="LifeNeedToKnow5.php">[量販店]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_life_title07.png" />
    </div>
    <p>除了學校附近的我家便利商店、自由聯盟、便利商店，如需購買日常生活用品與食物，也可至量販店購得，學校附近的量販店有大潤發、家樂福、全聯，但是並沒有公車可以直接到達，需要自行開車或騎車。</p>
    <h>一、家樂福</h>
    <p>出校門之後，右轉，沿著中正路直走，到環西路二段與中正路路口，向左轉，沿著環西路二段直走，接環北路，到中華路二段左　轉，這時候家樂福就在你的右手邊。</p>
    <p>地圖如下：</p>
    <h>二、大潤發：</h>
    <p>出校門之後，右轉，一直沿著中正路，到達中壢火車站之後，接著轉到元化路，這時你會看到一個地下道，穿越地下道之後，會看到一家水果店(就在不遠的轉角處)，這時候左轉，轉到中北路二段上，一直走就可以看到大潤發。</p>
    <p>地圖如下：</p>
    <h>三、全聯福利中心：</h>
    <p>出校門後右轉，走中正路接志廣路再接回中正路或者直行中正路，最後左轉接中山路直行就會看到。</p>
    <p>店名：中壢中山店</p>
    <p>地址：桃園縣中壢市中山路500號</p>
    <p>電話：(03)494-6650</p>    
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_life_bottom.png" />
</div>