<div id="top">
	<div id="tree">
		<a href="LifeNeedToKnow.php"><img src="templates/zh_tw/images/detail_life_tag01.png" alt="書店" /><a>
		<a href="LifeNeedToKnow1.php"><img src="templates/zh_tw/images/detail_life_tag02.png" alt="理髮店" /><a>
		<a href="LifeNeedToKnow2.php"><img src="templates/zh_tw/images/detail_life_tag03.png" alt="洗衣部" /><a>
		<a href="LifeNeedToKnow3.php"><img src="templates/zh_tw/images/detail_life_tag04.png" alt="小超市" /><a>
		<a href="LifeNeedToKnow4.php"><img src="templates/zh_tw/images/detail_life_tag05.png" alt="便利商店" /><a>
		<a href="LifeNeedToKnow5.php"><img src="templates/zh_tw/images/detail_life_tag06.png" alt="校內郵務" /><a>
		<a href="LifeNeedToKnow6.php"><img src="templates/zh_tw/images/detail_life_tag07.png" alt="量販店" /><a>
        <a href="LifeNeedToKnow7.php"><img src="templates/zh_tw/images/detail_life_tag08.png" alt="電影院" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_life_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="LifeNeedToKnow.php">[便利生活]</a> >>
	<a href="LifeNeedToKnow2.php">[小超市]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_life_title03.png" />
    </div>
            <h>一、我家</h>
    <p>我家位於中大後門，中央路萊爾富對面，我家是一家複合型的店家，除了販賣各式生活雜物以及食品，也有提供生鮮蔬菜。除此之外，我家也是一間鎖店，可以提供打鑰匙與開鎖服務我家的營業時間為清晨七點至凌晨兩點，因為鄰近學校，可提供即時性的需求，對需要就近購物的學生而言相當便利。</p>
    <div><img src="templates/zh_tw/images/我家.jpg" width="500px" height="375px" />
    </div>
    <h>二、自由聯盟生鮮超市</h>
    <p>自由聯盟生鮮超市位於中大正門出去至中正路右轉，往左手邊即可看到。是一間綠色商店，標榜樂活、乾淨整齊與明亮寬敞的超市，生鮮食品、生活雜物一應俱全。</p>
    <p>公司地址 320 -桃園縣中壢 中正路1152號</p>
    
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_life_bottom.png" />
</div>
