<div id="top">
	<div id="tree">
		<a href="LifeNeedToKnow.php"><img src="templates/zh_tw/images/detail_life_tag01.png" alt="書店" /><a>
		<a href="LifeNeedToKnow1.php"><img src="templates/zh_tw/images/detail_life_tag02.png" alt="理髮店" /><a>
		<a href="LifeNeedToKnow2.php"><img src="templates/zh_tw/images/detail_life_tag03.png" alt="洗衣部" /><a>
		<a href="LifeNeedToKnow3.php"><img src="templates/zh_tw/images/detail_life_tag04.png" alt="小超市" /><a>
		<a href="LifeNeedToKnow4.php"><img src="templates/zh_tw/images/detail_life_tag05.png" alt="便利商店" /><a>
		<a href="LifeNeedToKnow5.php"><img src="templates/zh_tw/images/detail_life_tag06.png" alt="校內郵務" /><a>
		<a href="LifeNeedToKnow6.php"><img src="templates/zh_tw/images/detail_life_tag07.png" alt="量販店" /><a>
        <a href="LifeNeedToKnow7.php"><img src="templates/zh_tw/images/detail_life_tag08.png" alt="電影院" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_life_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="LifeNeedToKnow.php">[便利生活]</a> >>
	<a href="LifeNeedToKnow3.php">[體育用品]</a>
</div>
<div id="middle">
	<div id="heading">
   		<img src="templates/zh_tw/images/detail_life_title04.png" />
    </div>
    <p>在中大生活圈內的體育用品店，位於中央大學後門，名稱為新明體育器材用品店。新明體育器材用品店位於後門我家商店的二樓，販賣的商品主要是與課程相關的體育用品。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_life_bottom.png" />
</div>
