<div id="top">
	<div id="tree">
		<a href="sport.php"><img src="templates/zh_tw/images/detail_sport_tag01.png" alt="運動設施" /><a>
		<a href="sport1.php"><img src="templates/zh_tw/images/detail_sport_tag02.png" alt="游泳池" /><a>
		<a href="sport2.php"><img src="templates/zh_tw/images/detail_sport_tag03.png" alt="依仁堂" /><a>
		<a href="sport3.php"><img src="templates/zh_tw/images/detail_sport_tag04.png" alt="操場" /><a>
		<a href="sport4.php"><img src="templates/zh_tw/images/detail_sport_tag06.png" alt="溜冰場" /><a>
        <a href="sport5.php"><img src="templates/zh_tw/images/detail_sport_tag05.png" alt="大草坪" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_sport_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="sport.php">[運動場所]</a> >>
	<a href="sport1.php">[游泳池]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_sport_title02.png" />
    </div>
    <p>游泳池位於新蓋的光電大樓和客家學院旁、網球場對面。是一座恆溫的室內泳池，９７年六月才完工，內建有八個水道，每個水道長２５公尺。</p>
    <p>室內溫水游泳池提供中大學生一個不論冬天或夏天都可以游泳的好地方，游泳代表隊也是此進行練習。一般學生憑學生證前往，只需要支付門票費３０元，就可以享受很棒的運動環境；若有長期游泳的習慣，還可以到體育室拿會員申請單，填寫完成後依下表帶所需金額及學生證或教職員工服務證到體育室辦理會員證申請成為會員。</p>
    <p>收費標準如下表：</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_sport_bottom.png" />
</div>
