<div id="top">
	<div id="tree5">
		<a href="view.php?aid=31"><img src="templates/zh_tw/images/detail_sport_tag01.png" alt="運動設施" /></a>
		<a href="view.php?aid=32"><img src="templates/zh_tw/images/detail_sport_tag02.png" alt="游泳池" /></a>
		<a href="view.php?aid=33"><img src="templates/zh_tw/images/detail_sport_tag03.png" alt="依仁堂" /></a>
		<a href="view.php?aid=34"><img src="templates/zh_tw/images/detail_sport_tag04.png" alt="操場" /></a>
		<a href="view.php?aid=35"><img src="templates/zh_tw/images/detail_sport_tag06.png" alt="溜冰場" /></a>
        <a href="view.php?aid=36"><img src="templates/zh_tw/images/detail_sport_tag05.png" alt="大草坪" /></a>
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="sport.php">[運動場所]</a> >>
	<a href="sport.php">[體育設施]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_sport_title01.png" />
    </div>
    <h>網球場</h>
    <p>網球場位於藍色操場另一端、羽球館旁邊、游泳池正對面。室外網球場分成兩個部份：對牆練習區與比賽場地。</p>
    <p>對牆練習區：主要提供初學者與想要進行對牆練習的人，在這裡進行的是磨練基礎的技巧。比賽場地區：和他人進行對打練習或比賽，比賽形式分為單打與雙打，其中雙打又有混雙可以選擇。共有六個正規的比賽場地提供大家使用。</p>
    <p>除了體育室關於網球的課程，會在此進行課堂練習外；也常常可以看到熱愛網球的教職員以及學生在這裡打網球，傍晚時分學校網球隊會在這裡勤奮的練習。</p>
    <p>和游泳池一樣，若非上課時間或是校系隊的練習，持學生證進場需支付門票費２０元；或者可以到體育室拿會員申請單，填寫完成後帶３００元及學生證或教職員工服務證到體育室辦理會員證（可使用一年）</p>
    <h>羽球館</h>
    <p>中大的羽球館位於依仁堂以及溜冰場之間，場地為PU材質，總共有六個球場。在羽球場常常可以看到羽球系隊及校隊在此練習，學生跟教職員工可在非校隊練習時間使用羽球場，除此之外，羽球相關比賽皆會在此舉行。</p>
    <p>進入羽球館需要收費，可以至體育組辦理球證，半年３５０元或一年７００元；如果不辦理球證，也可以選擇當次付費使用場館，中央大學校內的學生２０元，外校學生５０元，外校人士１００元。</p>
    <p>羽球館開放的時間通常為上午六時至十一時三十分，下午一時三十分至七時，但有以下幾個例外時段：</p>
    <p>１．體育課使用場地時段非修課學生不得使用。</p>
    <p>羽球代表隊訓練時間，會預留一至三個場地供代表隊使用，其他場地則供本校師生會員使用，上課及代表隊訓練時間會另行公佈。</p>
    <p>３．遇有正式比賽時停止開放，會於兩天前公告。</p>
    <p>４．遇有國定假日及週休二日假期停止開放。</p>
	<p>羽球館的使用方法如下：</p>
    <p>1．按照入場先後順序輪流使用球場，每次使用時間以三十分鐘為限，管理員會以鈴（哨）聲為號，依次轉讓；如果場地有空時得繼續使用。</p>
    <p>２．進入羽球館時，必須自備球具，穿著整潔之運動服及球鞋。禁止穿著皮鞋或赤腳進入球場。</p>
    <p>3．運動時不得赤膞或穿著背心。</p>
    <p>４．場地第二球場，以教職員工優先使用。</p>
    <h>籃球場</h>
    <p>學校的籃球場分別坐落於三處地方：</p>
    <p>1．依仁堂的室內籃球場，共有兩個全場</p>
    <p>２．溜冰場與網球場之間，共有兩個全場</p>
    <p>３．機械館後面、操場旁邊，共有四個全場</p>
    <p>在籃球場上可以看到各系系隊以及校隊在這裡練習，室外籃球場是大家皆可以使用，但是室內籃球場則要在非校隊練習、非比賽時間、非上課時間才可使用。另外，學校籃球相關的比賽會在依仁堂室內場舉行<p>
    <h>排球場</h>
	<p>中央大學排球場有三個：</p>
	<p>1.依仁堂副館的排球場：位於依仁堂門口一走進去的右方，室內場通常是學校排球校隊使用，如遇雨無法使用戶外場，則可以看到各系隊在此做練習，但是下雨時場地使用方式比較特別，下雨的時候室內場會用比賽的方式輪流使用，贏的人繼續使用場地，輸的人則須重新報隊。</p>
	<p>2.小榕樹排球場：位於依仁堂的左方，松苑中餐廳旁，平日可以看到系隊在這裡進行練習，戶外比賽使用的場地之一。</p>
	<p>3.機械館排球場：位於在機械館籃球場旁，平日可以看到系隊在這裡進行練習，戶外比賽使用的場地之一。</p>
	<p>為避免視線不佳，晚上時戶外排球場會開照明燈，以方便同學練球，但是需要注意的是，十點後就會關燈。</p>
	<div><img src="templates/zh_tw/images/小榕樹排球場1.jpg" width="210px" height="160px" />
    	 <img src="templates/zh_tw/images/排球館.jpg" width="210px" height="160px" />
         <img src="templates/zh_tw/images/排球館內.jpg" width="210px" height="160px" />
   	</div> 
    <h>桌球室</h>
    <p>中央大學的桌球設備共分佈在三個地點，分別為男九舍三樓、新研舍二樓以及依仁堂排球館的二樓。學校主要是提供球桌以及場地給大家使用，乒乓球及球拍則必須由同學自行準備。</p>
    <p>每一個桌球室都有各自的開放時間，如下面所示，請各位同學遵守規定。</p>
    <p>男九舍三樓：</p>
    <p>桌球室並不會熄燈及鎖門，不過最晚開至24：00，管理員會請同學回去休息。（暑假期間因做為男九舍暑期儲藏室故不開放）</p>
    <p>新研舍二樓：</p>
    <p>桌球室於23：30會自動熄燈。</p>
    <p>依仁堂二樓：</p>
    <p>開放時間為08：00 ~ 21：00，不過週六週日並不開放。</p>
    <div><img src="templates/zh_tw/images/桌球室 (1).jpg" width="210px" height="160px" />
    	 <img src="templates/zh_tw/images/依仁堂桌球.jpg" width="210px" height="160px" />
         <img src="templates/zh_tw/images/桌球室.jpg" width="210px" height="160px" />
   	</div>
</div>

<div id="bottom">
	<img src="templates/zh_tw/images/detail_sport_bottom.png" />
</div>
