<div id="top">
	<div id="tree">
		<a href="sport.php"><img src="templates/zh_tw/images/detail_sport_tag01.png" alt="運動設施" /><a>
		<a href="sport1.php"><img src="templates/zh_tw/images/detail_sport_tag02.png" alt="游泳池" /><a>
		<a href="sport2.php"><img src="templates/zh_tw/images/detail_sport_tag03.png" alt="依仁堂" /><a>
		<a href="sport3.php"><img src="templates/zh_tw/images/detail_sport_tag04.png" alt="操場" /><a>
		<a href="sport4.php"><img src="templates/zh_tw/images/detail_sport_tag06.png" alt="溜冰場" /><a>
        <a href="sport5.php"><img src="templates/zh_tw/images/detail_sport_tag05.png" alt="大草坪" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_sport_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="sport.php">[運動場所]</a> >>
	<a href="sport2.php">[依仁堂]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_sport_title03.png" />
    </div>
    <p>依仁堂是於民國51年6月完工，位於大禮堂的對面，搭乘132路公車到中央大學的終點站就是停在依仁堂前面，依仁堂體育館內部有各種設施。</p>
    <h>籃球館：</h>
    <p>位於依仁堂入口左側，是許多籃球系隊或校隊練習的地方，也是許多籃球相關的室內比賽場地。</p>
    <h>排球館：</h>
    <p>位於依仁堂入口右側，排球系隊或校隊練習的地方，常常舉辦各式各樣與排球相關的比賽，下雨天練習也主要使用此室內場地。</p>
    <h>健身房：</h>
    <p>依仁堂門口一進去右側，排球館旁；平常體育課時，或是想要增進體就能使用，如果沒有辦會員證，要進入健身房每次要繳20元的使用費；辦會員證年費300元，以後只要憑會員證進入即可，健身房裡面有各式各樣的健身設備，是重量訓練的好地方。</p>
    <h>攀岩場：</h>
    <p>於去年（民國98年）才由戶外搬到室內的，位於依仁堂中庭旁邊，下面設有軟墊的安全措施，讓想運動的人除了球類運動以外能有另一個好選擇。如果選修攀岩相關課程就可以使用到此設施，另設有室外攀岩場位於操場司令台對面。</p>
    <p>詳情請見體育室網站 <a href="http://140.115.117.199/sport/server/index.php">http://140.115.117.199/sport/server/index.php</a></p>
</div>
<div id="bottom">
    <img src="templates/zh_tw/images/detail_sport_bottom.png" />
</div>
