<div id="top">
	<div id="tree">
		<a href="sport.php"><img src="templates/zh_tw/images/detail_sport_tag01.png" alt="運動設施" /><a>
		<a href="sport1.php"><img src="templates/zh_tw/images/detail_sport_tag02.png" alt="游泳池" /><a>
		<a href="sport2.php"><img src="templates/zh_tw/images/detail_sport_tag03.png" alt="依仁堂" /><a>
		<a href="sport3.php"><img src="templates/zh_tw/images/detail_sport_tag04.png" alt="操場" /><a>
		<a href="sport4.php"><img src="templates/zh_tw/images/detail_sport_tag06.png" alt="溜冰場" /><a>
        <a href="sport5.php"><img src="templates/zh_tw/images/detail_sport_tag05.png" alt="大草坪" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_sport_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="sport.php">[運動場所]</a> >>
	<a href="sport5.php">[大草坪]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_sport_title05.png" />
    </div>
    <p>大草坪，是一片位於百花川旁、綜教館前的翠綠草坪，大草坪最特別的，是這個草坪為中央大學特別規劃的永久綠地；指的就是：「不論要興建任何建築物，都不可以在此永久綠地上動工，要永遠保存這個青青綠地。」以永續發展為宗旨，要保護這片草坪。</p>
    <p>大草坪總是綠意盎然且生機蓬勃，所以常常會有許多的學生或附近居民喜歡在這裡運動，假日常常可以看到小朋友在此追逐嬉戲，享受親近大自然的樂趣。大草坪也是學校棒球隊以及壘球隊平日練習的場所，常常可以看到同學辛苦練習的身影；體育課的壘球課程也是在這裡進行；大草坪也會不定期的在此舉辦比賽，為校園增添青春活力。</p>
    <div><img src="templates/zh_tw/images/大草坪.jpg" width="320px" height="260px" />
    	 <img src="templates/zh_tw/images/大草坪1.jpg" width="320px" height="260px" />
   	</div>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_sport_bottom.png" />
</div>
