<div id="top">
	<div id="tree">
		<a href="sport.php"><img src="templates/zh_tw/images/detail_sport_tag01.png" alt="運動設施" /><a>
		<a href="sport1.php"><img src="templates/zh_tw/images/detail_sport_tag02.png" alt="游泳池" /><a>
		<a href="sport2.php"><img src="templates/zh_tw/images/detail_sport_tag03.png" alt="依仁堂" /><a>
		<a href="sport3.php"><img src="templates/zh_tw/images/detail_sport_tag04.png" alt="操場" /><a>
		<a href="sport4.php"><img src="templates/zh_tw/images/detail_sport_tag06.png" alt="溜冰場" /><a>
        <a href="sport5.php"><img src="templates/zh_tw/images/detail_sport_tag05.png" alt="大草坪" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_sport_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="sport.php">[運動場所]</a> >>
	<a href="sport3.php">[操場]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_sport_title04.png" />
    </div>
    <p>中央大學操場為一圈四百公尺藍色的PU跑道，全台灣只有兩所學校的操場為藍色的，這樣特殊的顏色，在藍天的映照下顯得格外耀眼，是很多遊客來中央大學一定會參觀的景點，也曾是知名電視偶像劇的取景地點。</p>
    <p>操場常常舉辦各式各樣的比賽，其中最著名的就是辦在11月的校運會，因為這個全校性的活動有一個各系積極爭取的目標─精神總錦標，在校運會前夕常常可以看到各系在操場積極練習的身影，不論是趣味競賽，或是田賽、徑賽，那在操場揮灑青春汗水的身影，會是大家一個永難忘懷的回憶。</p>
    <p>操場旁有一個白色的聖火台，在校運會時會插滿各式各樣的旗子，比賽時還可以看到同學們搖旗吶喊為著同伴加油，展現青春與活力。司令台主要用作頒獎的場地；也可以常常看到人們在這裡做運動，羽球、排球、太極等各式活動。</p>
    <p>此外操場旁也設有單槓架，沙坑，足球射門框及攀岩場可讓同學們使用；操場在晚上十點前會關燈，所以想要在晚上運動要把握十點以前的時間。 進入操場也有一些相關規定：</p>
    <p>1. 禁止任何車輛進入場內。</p>
    <p>2. 穿著拖鞋、皮鞋、高跟鞋禁止入場。</p>
    <p>3. 雨天禁止進入草皮和在場內做球類活動。</p>
    <p>4. 跑道內請勿吸煙。</p>
    <p>5. 禁止打棒壘球。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_sport_bottom.png" />
</div>
