<div id="top">
	<div id="tree">
		<a href="transport.php"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /><a>
		<a href="transport1.php"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /><a>
		<a href="transport2.php"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /><a>
		<a href="transport3.php"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /><a>
		<a href="transport4.php"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /><a>
		<a href="transport5.php"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /><a>
		<a href="transport6.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
        <a href="transport7.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
    <a href="transport1.php">[公車]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title02.png" />
    </div>
    <p>如果要搭公車到中央大學，可在桃客中壢公車站總站（火車站出站後，直行中正路，於第二個路口左轉的麥當勞旁邊），搭乘桃園客運１３２路公車、或者是中壢１３３路公車。</p>
    <p>今年開始公車路線有稍作變更，公車由中大正門入校後將環校依序停靠：「警衛室」、「志希館」、「依仁堂」、「女舍停車場(後門)」、「景觀台」後出校，可在以上各站下車或搭乘。從中央大學到總站，車行時間約２０～３０分鐘，上車投幣全票１８元，半票９元；亦可在總站購買台灣通公車儲值卡，學生價享有七五折優惠。</p>
    <p>台灣通首頁：<a href="http://www.twnsc.com.tw/index.php">http://www.twnsc.com.tw/index.php</a></p>
    <p>下圖是：１３２路公車表：</p>
    <img src="templates/zh_tw/images/map1.jpg" width="700px" height="480px" />
	<div id="p1">下表為：中壢站發車時間</div>
   	<div><img src="templates/zh_tw/images/time.png" width="400px" height="300px" /></div>
    <div id="p1">◎	桃園客運服務電話：(03)422-0162</div>
	<div id="p1">◎	相關連結：桃園客運</div>
    <div id="p1">133路公車表（中壢站發車時間）</div>
    <div><img src="templates/zh_tw/images/time2.png" width="500px" height="120px" /></div>
    <div id="p1">中央大學公車站牌照</div>
    <div><img src="templates/zh_tw/images/公車路線.jpg" width="320px" height="260px" />
    	 <img src="templates/zh_tw/images/公車路線 (1).jpg" width="320px" height="260px" />
   	</div> 
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_living_bottom.png" />
</div>
