<div id="top">
	<div id="tree">
		<a href="transport.php"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /><a>
		<a href="transport1.php"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /><a>
		<a href="transport2.php"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /><a>
		<a href="transport3.php"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /><a>
		<a href="transport4.php"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /><a>
		<a href="transport5.php"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /><a>
		<a href="transport6.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
        <a href="transport7.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
	<a href="transport6.php">[汽機車]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title06.png" />
    </div>
    <p> 汽機車入校的方式有：</p>
    <div id="p1">１．學生臨時需要將汽機車駛入校園：</div>
    <p>可於前後門警衛室押學生證，並領取計時單，將汽機車駛入校內。要注意的是，免費入校時間只有30分鐘，若超過時限則依入校時間收費（見第三點），且必須於當日22：00以前駛離校園，不得過夜。</p>
    <div id="p1">２．汽機車入校通行證：</div>
    <p>學校教授或研究所的碩博班學生，可以到總務處網站下載表格：申請汽機車進入學校的通行證，大學部的學生則無法申請，申請通行證成功後，將通行證貼於汽機車之可辨識處，便可直接入校。值得注意的是，每年汽機車入校通行證都要重新申請。</p>
    <div id="p1">３．非教職員工或學生需要將汽機車駛入校園：</div>
    <p>在前後門警衛室領取計時單，並在離開校園時於警衛室繳交費用。自入校起第一個小時收費30元，超過一小時後，每30分鐘以15元計費。如果計時單遺失，則以每日24小時計費（收費720），且23：00前車輛必須離校，不得過夜。</p>
    <p>不過在某些特殊時段（如：搬宿舍時段），會開放汽機車免費且免押證件進入校園。平常，如果需要臨時性且有好一段時間要在校內行駛汽機車，也可以到總務處的網站下載表格，申請臨時的汽機車通行證，憑證進出校園，不過期限過了以後就會註銷。</p>
    <p>在校內行駛汽機車，也要注意校內交通相關規定：時速需要限制25 公里以下；行人優先，禁鳴喇叭。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_traffic_bottom.png" />
</div>
