<div id="top">
	<div id="tree">
		<a href="transport.php"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /><a>
		<a href="transport1.php"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /><a>
		<a href="transport2.php"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /><a>
		<a href="transport3.php"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /><a>
		<a href="transport4.php"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /><a>
		<a href="transport5.php"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /><a>
		<a href="transport6.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
        <a href="transport7.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
	<a href="transport4.php">[高鐵]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title05.png" />
    </div>
    <p>距離中央大學最近的高鐵站是高鐵桃園站，從高鐵站至中央大學有三種到達方式：</p>
    <p>１．騎車或自行開車</p>
    <p>２．搭計程車</p>
    <p>３．搭乘公車：先搭乘高鐵接駁車至中壢客運站，再至桃園客運總站搭乘１３２、１３３到中央大學。</p>
    <p>以下是高鐵桃園站資訊：</p>
    <p>1．地址：桃園縣中壢市高鐵北路一段6號</p>
    <p>２．車站電話：（０３） ２６１２０００ </p>
    <p>３．營業時間： ０６：２０～２３：４５</p>
    <p>４．車票販售截止時間：當日票 ２３：３４</p>
    <img src="templates/zh_tw/images/map4.jpg" />
    <p>以下是高鐵站外觀圖：</p>
    <img src="templates/zh_tw/images/map3.jpg" />  
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_traffic_bottom.png" />
</div>
