<div id="top">
	<div id="tree">
		<a href="transport.php"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /><a>
		<a href="transport1.php"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /><a>
		<a href="transport2.php"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /><a>
		<a href="transport3.php"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /><a>
		<a href="transport4.php"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /><a>
		<a href="transport5.php"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /><a>
		<a href="transport6.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
        <a href="transport7.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div><div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
	<a href="transport5.php">[台聯大專車]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title07.png" />
    </div>
    <p>中央大學是台聯大系統其中一所大學，台聯大是由中央、陽明、清華、交通四所大學所組成，主要是為了方便四校的教職員工、生上課以及處理公務，而設立聯大校際間專車供使用。</p>
    <p>台聯大專車在學期中行駛時間為每週一到五，候車地點為行政大樓前。另外於１９：１０由中央大學發車的夜車，會行經清交後再返回中央，接著便直達台北車站，提供返回台北的師生另一個可選擇的交通方式。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_traffic_bottom.png" />
</div>
