<div id="top">
	<div id="tree">
		<a href="view.php?aid=11"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /></a>
		<a href="view.php?aid=12"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /></a>
		<a href="view.php?aid=13"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /></a>
		<a href="view.php?aid=14"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /></a>
		<a href="view.php?aid=15"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /></a>
		<a href="view.php?aid=16"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /></a>
		<a href="view.php?aid=17"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /></a>
        <a href="view.php?aid=18"><img src="templates/zh_tw/images/detail_traffic_tag08.png" alt="自行開車" /></a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
	<a href="transport.php">[腳踏車]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title01.png" />
    </div>
    <p>在中央大學校內的主要交通方式為腳踏車，目前因為公車為環校行駛，同學騎乘腳踏車時要特別注意行車安全。</p>
    <p>停放腳踏車的位置為腳踏車架或規定的區域內，如違反規定，腳踏車將被鎖車一星期。</p>
    <p>另外當腳踏車需要修理的時候，於後門及消夜街各有一家腳踏車行可以提供維修服務。如果輪胎需要充氣，在正門及後門的警衛室旁，皆設有打氣裝置，提供同學免費使用。</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_traffic_bottom.png" />
</div>
