<div id="top">
	<div id="tree">
		<a href="transport.php"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /><a>
		<a href="transport1.php"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /><a>
		<a href="transport2.php"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /><a>
		<a href="transport3.php"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /><a>
		<a href="transport4.php"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /><a>
		<a href="transport5.php"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /><a>
		<a href="transport6.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
        <a href="transport7.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
	<a href="transport2.php">[火車]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title03.png" />
    </div>
    <p>如果需要搭乘火車到中央大學，需要在中壢火車站前站下車，再到桃園客運總站（麥當勞旁）轉搭１３２、１３３路公車。</p>
    <p>如果家住台北縣市、基隆、以及桃竹苗的人，各級列車皆可搭乘（從台北車站到中壢車站區間車大約50分鐘）；桃竹苗以南的區域，則無法搭乘區間車到達。</p>
    <p>除了現金購票外，基隆到中壢車站可以使用悠遊卡乘車；瑞芳到新竹則可以使用台灣通卡。</p>
    <img src="templates/zh_tw/images/map2.jpg" width="680px" height="460px" />
</div>
<div id="bottom">
	
</div>
