<div id="top">
	<div id="tree">
		<a href="transport.php"><img src="templates/zh_tw/images/detail_traffic_tag01.png" alt="腳踏車" /><a>
		<a href="transport1.php"><img src="templates/zh_tw/images/detail_traffic_tag02.png" alt="公車" /><a>
		<a href="transport2.php"><img src="templates/zh_tw/images/detail_traffic_tag03.png" alt="火車" /><a>
		<a href="transport3.php"><img src="templates/zh_tw/images/detail_traffic_tag04.png" alt="客運" /><a>
		<a href="transport4.php"><img src="templates/zh_tw/images/detail_traffic_tag05.png" alt="高鐵" /><a>
		<a href="transport5.php"><img src="templates/zh_tw/images/detail_traffic_tag07.png" alt="台聯大專車" /><a>
		<a href="transport6.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
        <a href="transport7.php"><img src="templates/zh_tw/images/detail_traffic_tag06.png" alt="汽機車" /><a>
	</div>
	<div id="bar1">
		<img src="templates/zh_tw/images/detail_traffic_head.png" />
	</div>
</div>
<div id = "link">
	<a href="http://localhost/ncufresh10/">[10知訊網首頁]</a> >>
	<a href="http://localhost/ncufresh10/module/life/">[中大生活]</a> >>
	<a href="transport.php">[交通相關]</a> >>
	<a href="transport3.php">[客運]</a>
</div>
<div id="middle">
	<div id="heading">
    	<img src="templates/zh_tw/images/detail_traffic_title04.png" />
    </div>
    <h>１．新竹客運</h>
    <p>在中壢火車站前站旁的新竹客運中壢總站下車，步行至中壢客運總站或桃園客運總站(中正路麥當勞旁)，轉乘【中壢客運１３３路】或【桃園客運１３２路】前往學校。</p>
    <p>中壢北站      (０３)４２５－３１２１</p>
    <p>中壢南站(總站) (０３)４２５－８８１２</p>
    <p>更多資訊請參考</p>
    <p>【新竹客運】(http://www.hcbus.com.tw)</p>
    <h>２．和欣客運</h>
    <p>下新屋交流道後，在民族路上的【中壢站】下車，轉乘【中壢客運１３３路】或【桃園客運１３２路】前往學校。</p>
    <p>和欣客運中壢交流道站 (０３)４０１－６６００</p>
    <p>更多資訊請參考</p>
    <p>【和欣客運】(http://www.ebus.com.tw/index.asp)</p>
    <h>３．統聯客運</h>
    <p>下新屋交流道後，在民族路上的【中壢站】下車，轉乘【中壢客運１３３路】或【桃園客運１３２路】前往學校。</p>
    <p>統聯客運             ０８００－２４１５６０</p>
    <p>更多資訊請參考</p>
    <p>【統聯客運】(http://www.ubus.com.tw/index.asp)</p>
    <h>４．飛狗巴士</h>
    <p>下新屋交流道後的第一站：佑民醫院，或是坐到「中壢車站」下車，轉乘【中壢客運１３３路】或【桃園客運１３２路】可前往學校。</p>
    <p>飛狗巴士服務電話：０８００－０５１５１９</p>
    <p>更多資訊請參考</p>
    <p>【飛狗巴士】(http://www.freego.com.tw)</p>
</div>
<div id="bottom">
	<img src="templates/zh_tw/images/detail_traffic_bottom.png" />
</div>
