<div id="nojs_box" class="panel">
        <div id="box_top">
        
         
        </div>
        <div id="box_center" >
       <a href="entertheme_department.php"><img id="pho_box_close"  style="float:right;" src="templates/zh_tw/images/close.png"></a>
       
        <span id="sample">
        <img src="templates/zh_tw/images/department/<{$content.sample}>.png" width=100 height=100/>
        </span>
        
        
        <br/>
        <div id="content">
        <{$content.text}>
        </div>
 		
        
        </div>
        <div id="box_bottom"></div>
</div>

