<div id="mapdepartment" class="map">
<a href="department_nojs_loadcontent.php?key=23&samname=a01" id="department1" class="sprite" onClick="showcontent(23);department_showsmp('a01');showbox();return false;"></a>

<a href="department_nojs_loadcontent.php?key=22&samname=b01" id="department2" class="sprite" onClick="showbox();showcontent(22);department_showsmp('b01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=30&samname=e01" id="department5" class="sprite" onClick="showbox();showcontent(30);department_showsmp('e01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=27&samname=c01" id="department3" class="sprite" onClick="showbox();showcontent(27);department_showsmp('c01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=21&samname=d01" id="department4" class="sprite" onClick="showbox();showcontent(21);department_showsmp('d01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=39&samname=j01" id="department10" class="sprite" onClick="showbox();showcontent(39);department_showsmp('j01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=26&samname=k01" id="department11" class="sprite" onClick="showbox();showcontent(26);department_showsmp('k01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=24&samname=f01" id="department6" class="sprite" onClick="showbox();showcontent(24);department_showsmp('f01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=40&samname=m01" id="department13" class="sprite" onClick="showbox();showcontent(40);department_showsmp('m01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=29&samname=n01" id="department14" class="sprite" onClick="showbox();showcontent(29);department_showsmp('n01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=31&samname=i01" id="department9" class="sprite" onClick="showbox();showcontent(31);department_showsmp('i01');return false;"></a>

<a href="department_nojs_loadcontent.php?key=25&samname=l01" id="department12" class="sprite" onClick="showbox();showcontent(25);department_showsmp('l01');return false;"></a>


<a href="department_nojs_loadcontent.php?key=28&samname=g01" id="department7" class="sprite" onClick="showbox();showcontent(28);department_showsmp('g01');return false;"></a>

<div id="box" class="panel">
        <div id="box_top">
            
            
        </div>
        <div id="box_center">
        <a onClick="hidebox(); return false;"><img id="pho_box_close" style="float:right;" src=						  		"templates/zh_tw/images/close.png"></a>
        <span id="sample"></span>
        <div id="table" style="position:relative;">
        
        </div>
        <br/><br/><br/>
            <div id="content"></div>
        
        </div>
        <div id="box_bottom"></div>
</div>
</div>
