@charset "utf-8";
/* CSS Document */
#menu{
float:left;
}
.maplink:link{
color:#0099FF;
}
.maplink:visited{
color:#0099FF;
}
.maplink:hover{
color:#0033FF;
}
.map{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none no-repeat scroll 0 0;
display:inline-block;
float:left;
height:600px;
position:relative;
width:750px;
z-index:1;
}
#mapbuilding{
background-image:url('images/building/bg.png');
}
.sprite{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none no-repeat scroll 0 0;
display:inline-block;
float:left;
position:absolute;
}
#building1{
background-image:url('images/building/pq01.png');
height:90px;
width:170px;
margin-left:75px;
margin-top:415px;
}
#building1:hover{
background-image:url('images/building/pq02.png');
z-index:1;
}
#building3{
background-image:url('images/building/p03.png');
height:100px;
width:100px;
margin-left:235px;
margin-top:402px;
}
#building3:hover{
background-image:url('images/building/q03.png');
}
#building4{
background-image:url('images/building/p04.png');
height:100px;
width:145px;
margin-left:320px;
margin-top:338px;
}
#building4:hover{
background-image:url('images/building/q04.png');
z-index:1;
}
#building5{
background-image:url('images/building/p05.png');
height:110px;
width:144px;
margin-left:322px;
margin-top:265px;
}
#building5:hover{
background-image:url('images/building/q05.png');
z-index:1;
}
#building6{
background-image:url('images/building/p06.png');
height:110px;
width:130px;
margin-left:324px;
margin-top:205px;
}
#building6:hover{
background-image:url('images/building/q06.png');
z-index:1;
}
#building7{
background-image:url('images/building/p07.png');
height:125px;
width:95px;
margin-left:610px;
margin-top:269px;
}
#building7:hover{
background-image:url('images/building/q07.png');
z-index:0;
}
#building8{
background-image:url('images/building/p08.png');
height:85px;
width:105px;
margin-left:581px;
margin-top:208px;
}
#building8:hover{
background-image:url('images/building/q08.png');
z-index:1;
}
#building9{
background-image:url('images/building/p09.png');
height:105px;
width:95px;
margin-left:628px;
margin-top:240px;
}
#building9:hover{
background-image:url('images/building/q09.png');
z-index:1;
}
#box{
margin-left:50px;
margin-top:10px;
position:absolute;
width:650px;
display:none;
}

#box_top{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/top.png) no-repeat scroll 0 0;
display:inline-block;
height:40px;
position:relative;
width:650px;
z-index:1;
}

#box_center{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/center.png) repeat-y scroll 0 0;
display:block;
height:450px;
width:650px;
padding-left:10px;
position:relative;
z-index:1;
float:left;
}
#pho_box_close{
position:absolute;
margin-left:586px;
margin-top:-18px;
}

#sample{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
display:inline-block;
margin-top:-20px;
margin-left:40px;

}
#table{
margin-top:-50px;
margin-left:150px;
}
#content{
display:inline-block;
overflow:auto;
white-space:normal;
width:575px;
padding:10px;
height:345px;
margin-left:25px;
}
#box_bottom{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/bottom.png) no-repeat scroll 0 0;
display:inline-block;
height:50px;
position:relative;
width:650px;
}
#pho_box{
margin-top:20px;
margin-left:20px;
}
#chapho{
margin-top:5px;
margin-left:280px;
}
.p{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none no-repeat scroll 0 0;
display:inline-block;
float:left;
position:relative;
}
#p1
{
background-image:url('images/building.png');
height:220px;
width:340px;
margin-top:5px;
margin-left:170px;
}
#p2
{
background-image:url('images/view.png');
height:230px;
width:340px;
margin-top:0px;
margin-left:22px;
}
#p3
{
background-image:url('images/department.png');
height:230px;
width:340px;
margin-top:-235px;
margin-left:350px;
}
#mapdepartment{
background-image:url('images/department/bg.png');
}
#department1{
background-image:url('images/department/a01.png');
height:110px;
width:125px;
margin-left:194px;
margin-top:310px;
}
#department1:hover{
background-image:url('images/department/a02.png');
z-index:1;
}
#department2{
background-image:url('images/department/b01.png');
height:100px;
width:120px;
margin-left:204px;
margin-top:70px;
}
#department2:hover{
background-image:url('images/department/b02.png');
z-index:1;
}
#department3{
background-image:url('images/department/c01.png');
height:85px;
width:100px;
margin-left:244px;
margin-top:149px;
}
#department3:hover{
background-image:url('images/department/c02.png');
z-index:1;
}
#department4{
background-image:url('images/department/d01.png');
height:100px;
width:105px;
margin-left:226px;
margin-top:180px;
}
#department4:hover{
background-image:url('images/department/d02.png');
z-index:1;
}
#department5{
background-image:url('images/department/e01.png');
height:92px;
width:115px;
margin-left:310px;
margin-top:95px;
}
#department5:hover{
background-image:url('images/department/e02.png');
z-index:1;
}
#department6{
background-image:url('images/department/f01.png');
height:105px;
width:135px;
margin-left:470px;
margin-top:328px;
}
#department6:hover{
background-image:url('images/department/f02.png');
z-index:1;
}
#department7{
background-image:url('images/department/g01.png');
height:117px;
width:149px;
margin-left:598px;
margin-top:232px;
}
#department7:hover{
background-image:url('images/department/g02.png');
z-index:0;
}
#department8{
background-image:url('images/department/h01.png');
height:96px;
width:96px;
margin-left:652px;
margin-top:240px;
}
#department8:hover{
background-image:url('images/department/h02.png');
z-index:1;
}
#department9{
background-image:url('images/department/i01.png');
height:95px;
width:100px;
margin-left:595px;
margin-top:165px;
}
#department9:hover{
background-image:url('images/department/i02.png');
z-index:1;
}
#department10{
background:url('images/department/j01.png');
height:100px;
width:75px;
margin-left:537px;
margin-top:85px;
}
#department10:hover{
background-image:url('images/department/j02.png');
z-index:1;
}
#department11{
background-image:url('images/department/k01.png');
height:120px;
width:100px;
margin-left:615px;
margin-top:65px;
}
#department11:hover{
background-image:url('images/department/k02.png');
z-index:1;
}
#department12{
background-image:url('images/department/l01.png');
height:90px;
width:103px;
margin-left:640px;
margin-top:193px;
}
#department12:hover{
background-image:url('images/department/l02.png');
z-index:1;
}
#department13{
background-image:url('images/department/m01.png');
height:80px;
width:85px;
margin-left:574px;
margin-top:131px;
}
#department13:hover{
background-image:url('images/department/m02.png');
z-index:1;
}
#department14{
background-image:url('images/department/n01.png');
height:100px;
width:100px;
margin-left:650px;
margin-top:130px;
}
#department14:hover{
background-image:url('images/department/n02.png');
z-index:1;
}
#mapview{
background-image:url('images/view/bg.png');
}
#view1{
background-image:url('images/view/a0.png');
height:116px;
width:92px;
margin-left:28px;
margin-top:275px;
}
#view1:hover{
background-image:url('images/view/a1.png');
z-index:1;
}
#view2{
background-image:url('images/view/b0.png');
height:230px;
width:90px;
margin-left:170px;
margin-top:207px;
}
#view2:hover{
background-image:url('images/view/b1.png');
z-index:1;
}
#view3{
background-image:url('images/view/c0.png');
height:70px;
width:70px;
margin-left:237px;
margin-top:256px;
}
#view3:hover{
background-image:url('images/view/c1.png');
z-index:1;
}

#view4{
background-image:url('images/view/d0.png');
height:77px;
width:70px;
margin-left:480px;
margin-top:245px;
}
#view4:hover{
background-image:url('images/view/d1.png');
z-index:1;
}
#view5{
background-image:url('images/view/e0.png');
height:110px;
width:130px;
margin-left:325px;
margin-top:215px;
}
#view5:hover{
background-image:url('images/view/e1.png');
}
#view6{
background-image:url('images/view/f0.png');
height:110px;
width:137px;
margin-left:325px;
margin-top:265px;
}
#view6:hover{
background-image:url('images/view/f1.png');
z-index:1;
}
#view7{
background-image:none;
height:65px;
width:120px;
margin-left:450px;
margin-top:200px;
}
#view7:hover{
background-image:url('images/view/c2.png');
z-index:0;
}
#view8{
background-image:url('images/view/g0.png');
height:130px;
width:90px;
margin-left:610px;
margin-top:265px;
}
#view8:hover{
background-image:url('images/view/g1.png');
z-index:1;
}
#view9{
background-image:url('images/view/h0.png');
height:90px;
width:70px;
margin-left:630px;
margin-top:395px;
}
#view9:hover{
background-image:url('images/view/h1.png');
z-index:1;
}
#view10{
background-image:url('images/view/i0.png');
height:95px;
width:75px;
margin-left:575px;
margin-top:115px;
}
#view10:hover{
background-image:url('images/view/i1.png');
z-index:1;
}
#view11{
background-image:url('images/view/j0.png');
height:65px;
width:370px;
margin-left:223px;
margin-top:225px;
}
#view11:hover{
background-image:url('images/view/j1.png');
z-index:1;
}
#view12{
background-image:url('images/view/k0.png');
height:155px;
width:175px;
margin-left:320px;
margin-top:355px;
}
#view12:hover{
background-image:url('images/view/k1.png');
z-index:1;
}
#view13{
background-image:url('images/view/m0.png');
height:80px;
width:105px;
margin-left:350px;
margin-top:479px;
}
#view13:hover{
background-image:url('images/view/m1.png');
z-index:1;
}
#view14{
background-image:url('images/view/pine2.png');
height:50px;
width:280px;
margin-left:281px;
margin-top:178px;
}
#view14:hover{
background-image:url('images/view/pine.png');
z-index:0;
}
#maptogether{
background-image:url('images/map.jpg');
}
