
<div id="main_container_left">
  <div id="main_container_left_2">
  <div class="bread_photo">
	  <a>
         <img src="templates/zh_tw/images/bread_1.png"/>
      </a>
  </div>
  <div class="bread_link">
    <a class="bread_css_1" href="index.php">系所社團</a>
	  >
	  <a class="bread_css_2" href="club_student&else.php">學生組織與其他</a>
  </div>
  <br class="clear" />
  </div>
</div>


<div id="main_container_right">

   <div id="club_studentelse_main_container_right_top">
      <p class="club_studentelse">學生組織與其他</p>
   </div>
   <span id="club_studentelse_main_container_right_contain">   <br />   <br />   <br />   <br />
      <span class="club_studentelse_main_container_right_contain_1">
         ‧<a href="list.php?number=96">學生會 </a>
      </span>   <br /><br />
      <span class="club_studentelse_main_container_right_contain_1">
         ‧<a href="list.php?number=98">游泳隊 </a>
      </span>   <br /><br />
	  <span class="club_studentelse_main_container_right_contain_1">
         ‧<a href="list.php?number=132">棒球隊 </a>
      </span>   <br /><br />
	  <span class="club_studentelse_main_container_right_contain_1">
         ‧<a href="list.php?number=134">網球隊 </a>
      </span>   <br /><br />
      <span class="club_studentelse_main_container_right_contain_1">
         ‧<a href="list.php?number=97">小松鼠志工隊 </a>
      </span>   <br /><br />
   </span>
    <div id="main_container_right_footer">
      <a>
         <img src="templates/zh_tw/images/studentmenu_bottom.png" width="700" height="90"/>
      </a>
   </div>  
</div>
