<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div>
2010大一生活知訊網
<br />
社團上傳介面
<br />
</div>
社團名稱:<br />
社團性質:<br />
*聯絡方式:<br />
社長手機:<br />
二進位ID:<br />
Email:<br />
副社手機:<br />
二進位ID:<br />
Email:<br />
社團照片:<br />
*社團簡介:<br />
社團網站:<br />
二進位板名:<br />
<form id="update" name="update" method="post" action="club_upload.php">
<input name="" type="submit" value="修改" />
</form>
</body>
</html>