<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<div id="main_container_left">
  <div id="main_container_left_2">
  <div class="bread_photo">
	  <a>
         <img src="templates/zh_tw/images/bread_1.png"/>
      </a>
  </div>
  <div class="bread_link">
    <a class="bread_css_1" href="index.php">系所社團</a>
	  >
	<a class="bread_css_2" href="club_play.php">康樂性社團</a>
  </div>
  <br class="clear" />
  </div>
</div>
<div id="main_container_right">

   <div id="club_play_main_container_right_top">
      <p class="club_play">康樂性社團</p>
   </div> 
   <br /><br /><br />
   <div id="club_play_main_container_right_contain">
 <span class="club_play_main_container_right_contain_2">
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=79">鋼琴社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=105">吉他社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=99">國樂社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=81">管樂社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=168">空手道社 </a>
   </span>
   <span class="club_play_main_container_right_contain_3">
      ‧<a href="list.php?number=73">熱門舞蹈社 </a>
   </span>
</span>   
<span class="club_play_main_container_right_contain_2">
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=101">柔道社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=80">太極社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=78">國術社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=136">象棋社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=71">跆拳道社 </a>
   </span>
   <span class="club_play_main_container_right_contain_3">
      ‧<a href="list.php?number=72">熱門音樂社 </a>
   </span>
</span>   
 <span class="club_play_main_container_right_contain_2">
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=77">雜技社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=76">網球社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=170">足球社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=106">國標社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=102">合氣道社 </a>
   </span>
   <span class="club_play_main_container_right_contain_3">
      ‧<a href="list.php?number=70">街頭地板舞蹈社 </a>
   </span>
</span>   
<span class="club_play_main_container_right_contain_2">
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=130">登山社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=74">劍道社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=104">魔術社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=75">嚕啦啦社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=107">現代舞蹈社 </a>
   </span>
   <span class="club_play_main_container_right_contain_3">
      ‧<a href="list.php?number=82">大腳ㄚ康輔工作坊 </a>
   </span>
</span>
<span class="club_play_main_container_right_contain_2">
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=169">羽球社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=103">口琴社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=100">圍棋社 </a>
   </span>
   <span class="club_play_main_container_right_contain_1">
      ‧<a href="list.php?number=143">自由車社 </a>
   </span>
</span>

   </div>
   
   <div id="main_container_right_footer">
      <a>
         <img src="templates/zh_tw/images/happymenu_bottom.png" width="700" height="90"/>
      </a>
   </div>
</div>
<br class="clear"/>
