<link href="templates/zh_tw/css/container.css" rel="stylesheet" type="text/css"/>
<div id="top<{$num}>">
	<{if $num == 1}>　
		<a href="must.php?num=1" title="大一新生區">
	    <img id="select" src="templates/zh_tw/images/new_title_b.png"/></a>　
		<a href="must.php?num=2" title="大一復學區">
   		<img id="link" src="templates/zh_tw/images/return_title_s.png"/></a>　
		<a href="must.php?num=3" title="大一相關須知">
   		<img id="link" src="templates/zh_tw/images/related_title_s.png"/></a>　
		<a href="must.php?num=4" title="文件下載">
   		<img id="link" src="templates/zh_tw/images/download_title_s.png"/></a>
	<{/if}>
	<{if $num == 2}>　
		<a href="must.php?num=1" title="大一新生區">
	    <img id="link" src="templates/zh_tw/images/new_title_s.png"/></a>　
		<a href="must.php?num=2" title="大一復學區">
    	<img id="select" src="templates/zh_tw/images/return_title_b.png"/></a>　
		<a href="must.php?num=3" title="大一相關須知">
    	<img id="link" src="templates/zh_tw/images/related_title_s.png"/></a>　
		<a href="must.php?num=4" title="文件下載">
    	<img id="link" src="templates/zh_tw/images/download_title_s.png"/></a>
	<{/if}>
	<{if $num == 3}>　
   		<a href="must.php?num=1" title="大一新生區">
  	    <img id="link" src="templates/zh_tw/images/new_title_s.png"/></a>　
		<a href="must.php?num=2" title="大一復學區">
    	<img id="link" src="templates/zh_tw/images/return_title_s.png"/></a>　
		<a href="must.php?num=3" title="大一相關須知">
    	<img id="select" src="templates/zh_tw/images/related_title_b.png"/></a>　
		<a href="must.php?num=4" title="文件下載">
    	<img id="link" src="templates/zh_tw/images/download_title_s.png"/></a>
	<{/if}>
    <{if $num == 4}>　
   		<a href="must.php?num=1" title="大一新生區">
  	    <img id="link" src="templates/zh_tw/images/new_title_s.png"/></a>　
		<a href="must.php?num=2" title="大一復學區">
    	<img id="link" src="templates/zh_tw/images/return_title_s.png"/></a>　
		<a href="must.php?num=3" title="大一相關須知">
    	<img id="link" src="templates/zh_tw/images/related_title_s.png"/></a>　
		<a href="must.php?num=4" title="文件下載">
    	<img id="select" src="templates/zh_tw/images/download_title_b.png"/></a>
	<{/if}>
</div>
<div id="m<{$num}>">
<br />
	<div class="Bleft">
		<{section name=i loop=$must_2D}>
			<{if $smarty.section.i.iteration<=15}>
           		<div id="main_<{$num}>">
                	<{if $num != 4}>
						<a class="L<{$num}>" style="color:#666666" 
	                   		href="container.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">
	               		<{$must_2D[i].title}></a>
						<{if $currmodule->is_system() == TRUE}>
							<a style="font-size:12px" href="update.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">　修改</a>
							<a style="font-size:12px" href="delete.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">刪除</a>
						<{/if}>
	                <{/if}>
	                <{if $num == 4}>
	                   	<a class="L<{$num}>" style="color:#666666" 
	                   		href="file/<{$must_2D[i].content}>">
	               		<{$must_2D[i].title}></a>
	                    <{if $currmodule->is_system() == TRUE}>
							<a style="font-size:12px" href="delete.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">刪除</a>
						<{/if}>
					<{/if}>
	   	        </div>
			<{/if}>
		<{/section}>
	</div>
	<div class="Bright">
		<{section name=i loop=$must_2D}>
			<{if $smarty.section.i.iteration>15}>
				<div id="main_<{$num}>">
                	<{if $num != 4}>
	   					<a class="R<{$num}>" style="color:#666666" 
    	                   	href="container.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">
						<{$must_2D[i].title}></a>
   						<{if $currmodule->is_system() == TRUE}>
							<a style="font-size:12px" href="update.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">　修改</a>
							<a style="font-size:12px" href="delete.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">刪除</a>
						<{/if}>
                    <{/if}>
                    <{if $num == 4}>
                    	<a class="R<{$num}>" style="color:#666666" 
	                   		href="file/<{$must_2D[i].content}>">
	               		<{$must_2D[i].title}></a>
	                    <{if $currmodule->is_system() == TRUE}>
							<a style="font-size:12px" href="delete.php?Key=<{$must_2D[i].Key}>&num=<{$num}>">刪除</a>
						<{/if}>
					<{/if}>
	           	</div>
			<{/if}>
		<{/section}>
	</div>
</div>
