<div class="top"></div>
<div class="p_back">
  <div class="p_text">	
    <div class="p_head">
    <img src="<{$currcfg.URL_ROOT_PATH}>/<{$perdata.head_image}>" vspace=8/>
    <{if $perdata.uid==$curruser->uid}>
    <a href="update.php"><img src="templates/zh_tw/images/data/rewr.png"/></a><{/if}>
    </div>
	<div class="p_left">
		<{if $perdata.uid==$curruser->uid}>
		姓名:<br/>
		<{/if}>
		暱稱:<br/>
		帳號:<br/>
		系所:<br/>
		生日:<br/>
		<{if $perdata.uid==$curruser->uid}>
		電子郵件:<br/>
		<{/if}>
		畢業高中:<br/>
		個人首頁:<br/>
		自我介紹:<br/>
	</div>
	<div class="p_right">
		<{if $perdata.uid==$curruser->uid}>
		<{$perdata.realname}><br/>
		<{/if}>
		<{$perdata.nickname}><br/>
		<{$perdata.username}><br/>
		<{$perdata.department}><br/>
		<{$perdata.birthday}><br/>
		<{if $perdata.uid==$curruser->uid}>
		<{$perdata.email}><br/>
		<{/if}>
		<{$perdata.senior_high}><br/>
		<{$perdata.self_website}><br/>
		<{$perdata.self_intro}><br/>
    </div>
  </div>
</div>
<div class="p_footer"></div>
